[2018-11-16 07:41] MaxDesiatov opened #4 "Carthage support"
There are reports about failed `xcodebuid` runs when attempting to install `CoreXLSX` with Carthage. This needs to be verified and fixed.

[2018-11-18 18:15] #4 closed

[2018-11-21 15:28] FleetPhil opened #9 "worksheetCache not written to?"
XLXSFile.worksheetCache does not seem to be written to - parseWorksheet attempts to get a worksheet object from it but never updates it. Not really a bug as it will still work, but am I missing something?

[2018-11-21 15:37] FleetPhil opened #10 "Access worksheet names from workbook.xml"
Worksheet names are stored in the workbook.xml file and linked using r:Id to workbook.xml.rels  - it would be good if this was read at the same time as parseDocumentPaths so a calling function could reference worksheets by name instead of path? However I realise that this would break the close link between objects in this library and the XLSX archive structure so maybe a looking function to get a

[2018-11-22 10:22] #9 closed, assigned to nobody

[2018-11-22 17:37] maxvol opened #12 ""No value associated with key CodingKeys(stringValue: \"cols\", intValue: nil)"
(lldb) po file.parseWorksheetPaths()
▿ 3 elements
  - 0 : "xl/worksheets/sheet3.xml"
  - 1 : "xl/worksheets/sheet2.xml"
  - 2 : "xl/worksheets/sheet1.xml"

(lldb) po file.parseWorksheet(at: "xl/worksheets/sheet3.xml")
▿ DecodingError
  ▿ keyNotFound : 2 elements
    - .0 : CodingKeys(stringValue: "cols", intValue: nil)
    ▿ .1 : Context
      - codingPath : 0 elements
      - debugDescription : "

[2018-11-23 08:58] MaxDesiatov commented on #12
Hi @maxvol, many thanks for reporting this. I hope that issues with `sheet3.xml` and `sheet2.xml` are fixed in #14. As for `sheet1.xml`, could you please share that `sheet1.xml` file or .xlsx archive itself? You can also share it privately to [this email](mailto:corexlsx@desiatov.com).

[2018-11-23 09:28] maxvol opened #15 ""No value associated with key CodingKeys(stringValue: \"sheetData\", intValue: nil) (\"sheetData\").""
(lldb) po file.parseWorksheetPaths()
▿ 3 elements
  - 0 : "xl/worksheets/sheet3.xml"
  - 1 : "xl/worksheets/sheet2.xml"
  - 2 : "xl/worksheets/sheet1.xml"

(lldb) po file.parseWorksheet(at: "xl/worksheets/sheet3.xml")
▿ DecodingError
  ▿ keyNotFound : 2 elements
    - .0 : CodingKeys(stringValue: "sheetData", intValue: nil)
    ▿ .1 : Context
      - codingPath : 0 elements
      - debugDescriptio

[2018-11-23 11:43] MaxDesiatov commented on #10
Hi @FleetPhil, thanks for highlighting this omission in the API, I'm currently working on a PR #16 that should expose worksheet names. At the moment there's a single test failure, which I hope can be fixed quickly and the PR should be good to merge after that.

[2018-11-23 11:49] MaxDesiatov commented on #15
Thank you @maxvol, this is a very interesting one, `sheetData` is a property which stores all of the worksheet rows and cells. I've not been able to recreate even with empty documents though. Could you please share it here or privately to [this email](mailto:corexlsx@desiatov.com) for further examination? Any other details, specifically on what software created this worksheet, would be appreciated

[2018-11-23 18:35] maxvol commented on #15
Here it is -
"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\r\n<worksheet xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\" xmlns:r=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\" xmlns:mc=\"http://schemas.openxmlformats.org/markup-compatibility/2006\" mc:Ignorable=\"x14ac\" xmlns:x14ac=\"http://schemas.microsoft.com/office/spreadsheetml/20

[2018-11-23 18:36] maxvol commented on #12
Regarding `sheet1.xml` - my guess it has something to do with encoding. I can unpack it and get proper XML string from data with `.utf8` encoding. Not sure which encoding `XMLCoder` is using internally.

[2018-11-24 14:45] #15 closed

[2018-11-24 15:07] maxvol commented on #12
Error Domain=NSXMLParserErrorDomain Code=39 "(null)" UserInfo={NSXMLParserErrorColumn=16328, NSXMLParserErrorLineNumber=2, NSXMLParserErrorMessage=AttValue: " or ' expected
}

[2018-11-24 17:07] MaxDesiatov commented on #12
`XMLCoder` internally uses [XMLParser](https://developer.apple.com/documentation/foundation/xmlparser) from `Foundation`, which I guess picks up encoding from a standard XML header like this `<?xml version="1.0" encoding="UTF-8"?>`. Quotes could be an issue, but really interesting what could generate these quotes. Could you please share the source XML? I'm not sure I'd be able to investigate witho

[2018-11-24 17:19] maxvol commented on #12
Here it is (without rows within sheetData, due to sensitive data) -
<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\r\n<worksheet xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\" xmlns:r=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\" xmlns:mc=\"http://schemas.openxmlformats.org/markup-compatibility/2006\" mc:Ignorable=\"x14ac\" xmlns:x14ac=

[2018-11-24 17:40] maxvol commented on #12
Huh? Apparently you cannot see it for some reason, I will check formatting in my previous post.

[2018-11-24 18:02] MaxDesiatov commented on #12
Thanks, can see it now, will have a closer look. BTW, if this string was printed from the debugger, the quotes are formatted by default, to print an unescaped string you can use something like `po NSString(string: worksheetString)`. By using that printing command we could verify if the original XML had quotes escaped or not.

[2018-11-24 18:06] maxvol commented on #12
Aha! Here it is -
[code]

[2018-11-24 19:05] MaxDesiatov commented on #12
Many thanks for this @maxvol! I think I've found a source of the issue and this can be parsed now in a separate branch that I'm preparing as a PR. Would you mind if I add this XML as a unit-test to `CoreXLSX` source code?

[2018-11-24 19:30] maxvol commented on #12
Sure, please do!

[2018-11-24 19:46] MaxDesiatov commented on #12
Great, thanks again. I've just merged #18 to `master`, could you please try `master` then to parse your file? [The test with that XML](https://github.com/MaxDesiatov/CoreXLSX/blob/master/Tests/CoreXLSXTests/WorksheetTests.swift) is now passing both for me locally and on CI, so unless there's some more breaking stuff in `sheetData` node, I hope this should work.

[2018-11-24 19:57] maxvol commented on #12
Still crashing with the same error. Why not make most attributes optional? Here's a few more lines from the same sheet -
[code]
BTW is it possible to modify/save XLSX?

[2018-11-24 20:11] MaxDesiatov commented on #12
[I've just added](https://github.com/MaxDesiatov/CoreXLSX/commit/b6d9cc302722ec127d240a96f44abe9785175fcd) these rows and cells to the test and passes with no modifications in CoreXLSX itself, I highly doubt it has something to do with optionality at this point. When you're saying "with the same error" do you mean this one?

[code]

If so, that's most probably caused by unscaped quotes somewhere i

[2018-11-24 20:32] maxvol commented on #12
Unlikely, XML is valid when pasted in validating editor. Can it be missing attributes in 'c' element? ```xml <c r="E2"> ```

[2018-11-24 21:07] MaxDesiatov commented on #12
Just to be completely sure, I've [added this cell with a single `r` attribute](https://github.com/MaxDesiatov/CoreXLSX/commit/48cbceb63e9dbeb70368761ee829a25909129e29) as well to the test, but it still passes.

It looks like an error is thrown from `XMLParser` in `Foundation` module, as neither `CoreXLSX` nor `XMLCoder` use `NSXMLParserErrorDomain` for their error reporting. This might mean that A

[2018-11-24 21:32] MaxDesiatov commented on #12
Thanks, this gives the same info though, the error is coming from Apple's `XMLParser` due to use of `NSXMLParserErrorDomain` and the offending character is at column 16328 line 2. I'd appreciate if you shared at least a single XML node with attributes at that column and line. Thinking more about it, you wouldn't even need to decompress the XLSX as you already have access to that raw XML in the deb

[2018-11-25 07:04] maxvol commented on #12
Aha, the reason is whitespace characters (newline, spaces) between equal sign and first quote:
[code]

[2018-11-25 11:46] maxvol commented on #12
So, do you think you can fix it? Because that break occurs automatically, I have no control over it.

[2018-11-25 18:30] MaxDesiatov commented on #12
I've added this snippet and a few other similar variations to the test suite with a newline and also `\r\n` combination between equal sign and first quote [here](https://github.com/MaxDesiatov/CoreXLSX/commit/22c801ef80601a4ec05e1828b699b0eb788048a6#diff-98c2a91c777ced3c97b74a463d118e99R44). `master` branch without any changes is able to pass these tests as is, CoreXLSX can parse these snippets wi

[2018-11-25 18:43] maxvol commented on #12
Still the same error. Here's the snippet including the offencing row -
[code]

[2018-11-25 18:57] MaxDesiatov commented on #12
I've added the complete snippet to the test suite [here](https://github.com/MaxDesiatov/CoreXLSX/commit/b77abb833f2306d0c87104cc666a05f9cb879005), it is parsed successfully with all cells. If you unzip the file, remove all cells except the offending row and zip it back again, is the error still reproducible? Or maybe you could open the file in Microsoft Excel or Apple Numbers, delete all rows exce

[2018-11-28 14:43] FleetPhil opened #19 "Need new object to relate Workbook to Worksheet"
The 'Workbook' object exposes sheet names, however these are related to actual sheet data (in xl/worksheets) using the rId relationship property via the 'workbook.xml.rels' file:

(workbook.xml): \<sheets> \<sheet name="Test Sheet 1" sheetId="1" r:id="rId1"/>
(workbook.xml.rels): \<Relationship Id="rId1" Target="worksheets/sheet1.xml"/>

The 'parseWorksheetPaths' method on XLSXFile accesses the re

[2018-11-28 15:45] maxvol opened #20 "feature request"
pls add editing & saving

[2018-11-29 13:53] nIgect commented on #12
Hi @MaxDesiatov , I have a similar problem
 Error Domain=NSXMLParserErrorDomain Code=41 "(null)" UserInfo={NSXMLParserErrorColumn=16328, NSXMLParserErrorLineNumber=2, NSXMLParserErrorMessage=Specification mandates value for attribute s

[2018-11-29 14:10] MaxDesiatov commented on #12
Hi @nIgect, could please share the file that causes this issue? This would allow me to reproduce the problem on my side, find the cause and fix it. Thank you!

[2018-11-29 18:32] maxvol opened #21 "how to get actual cell values?"
i see that cells contain some kind of indices instead of actual values (i.e. some kind of integer number instead of string)
how can i get actual value of a cell? probably there is some kind of reference table for it?

[2018-11-29 18:48] FleetPhil commented on #21
The integer is an index into the list of strings in the ‘shared strings’ file.

[2018-11-29 21:33] Cassers commented on #21
Where do I find that file ?, I have not been able to see the real value of the cell and I do not see examples anywhere D:

[2018-11-29 22:44] Cassers commented on #21
Thanks for your help, but the link you passed does not show me anything D:

![captura de pantalla 2018-11-29 a la s 5 42 53 p m](https://user-images.githubusercontent.com/14795834/49256861-6c5bd300-f3fe-11e8-834e-7b73967964e1.png)

[2018-11-29 23:01] Cassers commented on #21
I found the document on the microsoft page, and I already understand why the values are in that document, how do I access that file?

in the parseWorksheetPaths property, only worksheets are listed.

[2018-11-30 11:30] MaxDesiatov commented on #21
Hi all, as was noted here, if you're looking for string values stored in cells, those are quite frequently (but apparently not always) are stored in `sharedStrings.xml`. There's work in progress in PR #8 (`shared-strings` branch) that exposes a public type `SharedStrings` with `parseSharedStrings()` function on `CoreXLSXFile`. I'm not sure yet if that's the best possible API though, because it req

[2018-11-30 12:20] FleetPhil commented on #21
Hi Max - I think there's a wider decision for you to make: do you want this library to simply extract the data in XLSX files keeping the structure unchanged and leave it to users to do the matching and cross-referencing? Shared strings is not the only place where this is required - linking worksheets using rId is another, and formats is another. Or do you want to do these joins in the library and

[2018-11-30 14:11] MaxDesiatov commented on #21
Hey @FleetPhil, thanks for the suggestion. I agree, I'd prefer to maintain a library with narrow focus, so probably will leave the API as it is in PR #8 right now: `SharedStrings` reflect the XML directly and it's up to a user to reconcile those values with what's available in `Cell` model. I will do a few more checks on PR #8, update README clarifying the intended use and merge it after that.

I

[2018-11-30 14:57] FleetPhil commented on #21
Still needs a `Relationships` object as well....! :)

[2018-11-30 15:35] Cassers commented on #21
I would believe that the important thing is to define what kind of situations the API will be used for.

Sincerely there is a very important lack when working with XLSX files in iOS, in my case for example I'm just looking to consult a file and convert it into arrays to send them to a server.

There are several old libraries in Objective C, but their use is quite confusing and they do not even hav

[2018-12-03 10:00] MaxDesiatov commented on #20
Thank you @maxvol! I understand that writing an edited XLSX file is a priority and I'd be happy to merge PRs with good test coverage implementing this. In the meantime, I'm also waiting for MaxDesiatov/XMLCoder#11 to become ready for merge, not having that working prevents us from cleanly testing a written XLSX file against a reference test fixture because of attributes changing order.

[2018-12-03 10:48] MaxDesiatov commented on #19
Hey @FleetPhil, thank you for reporting this! #22 has been just merged to `master`, hope this resolves the issue, but please feel free to reopen it and provide more details if that's not the case.

[2018-12-03 15:11] FleetPhil commented on #19
Hi Max - #22 does not resolve this issue: there are 2 `rels` files:
A) `_rels/.rels` - this is the one that is extracted by the new `parseRelationships` and contains the 'top level' relationships in the file
B) `xl/_rels/workbook.xml.rels` - this contains the relationships between paths and names that I am looking for...

Not sure how you want to deal with this, but I suspect that the relationship

[2018-12-03 15:14] FleetPhil commented on #19
Hi Max, just posted an update - sorry but this does not fix the issue but I can’t see how to reopen it...

[2018-12-03 19:41] maxvol commented on #21
I have 51 items in sharedString, but cell values are 686031 etc. Should sharedString be an array then or a dictionary?

[2018-12-04 12:44] MaxDesiatov commented on #19
Thanks for the clarification @FleetPhil. I've just merged #23 into `master`, does that work well for your use case?

[2018-12-04 13:41] FleetPhil commented on #19
Thanks @MaxDesiatov for the quick fix, this works fine. All I need to do now is build some code to do all these mappings! Happy for you to close this issue now

[2018-12-04 13:42] #19 closed

[2018-12-06 09:41] FleetPhil opened #24 "parseDocumentRelationships() crash"
Hi @MaxDesiatov - function was working but I'm now getting a crash on a test sheet, any ideas?

Crash message is: `'try!' expression unexpectedly raised an error: Swift.DecodingError.dataCorrupted(Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "relationship", intValue: nil), _XMLKey(stringValue: "Index 3", intValue: 3), CodingKeys(stringValue: "type", intValue: nil)], debugDescri

[2018-12-07 11:16] FleetPhil commented on #24
You just need to add `case calcChain = 			"http://schemas.openxmlformats.org/officeDocument/2006/relationships/calcChain"` to the `SchemaType` enum in the `Relationship` struct...
I would add a pull request and fix it, but it's a bit trivial for that!. Thanks, Phil

[2018-12-07 11:23] MaxDesiatov commented on #24
Thanks @FleetPhil, would you mind if I add Logbook.xlsx file to the test suite?

[2018-12-07 11:43] MaxDesiatov commented on #24
Thanks, I'll hold off merging #25 for now until more details are available

[2018-12-07 12:57] FleetPhil commented on #24
I've had a look but I think it's beyond my knowledge of how to decode XML...

The issue is in the `SharedStrings` file: most entries are as expected by the decoder, for example:
[code]
However some have an additional field, as here:
[code]
The `phoneticPR` item makes the decoder think this item is a dictionary and crashes. I amended the `SharedStrings` definition to create a `SimpleText` struct wi

[2018-12-08 09:27] FleetPhil opened #26 "Unzip extract default buffer not big enough"
`XLSXFile.parseEntry` invokes `archive.extract` with the default buffer size of 16k bytes, this is not big enough for many Excel files and causes the XML decoder to terminate with a 'Premature end of file' error (or other error).
The function needs to be invoked with a larger buffer at least as big as the longest line of XML in the input stream - I have a worksheet with 1 line of XML that is over

[2018-12-08 12:41] zubairghori opened #27 "Unable to parse .xlsx file (not working parseWorksheet)"
try! parseWorksheet throwing exception:
<img width="1399" alt="screenshot 2018-12-08 at 5 40 23 pm" src="https://user-images.githubusercontent.com/8655968/49686031-5f329880-fb10-11e8-9530-b16752a6275e.png">

Error Domain=NSXMLParserErrorDomain Code=73 "(null)" UserInfo={NSXMLParserErrorColumn=16328, NSXMLParserErrorLineNumber=2, NSXMLParserErrorMessage=Couldn't find end of Start Tag c
}

[2018-12-10 21:17] cemolcay opened #28 "No value associated with key CodingKeys(stringValue: \"dimension\", intValue: nil)"
I'm getting this error while trying to read a sheet from a parsed xlsx file.
I think the error is happening on the `Worksheet` file, where it has `CodingKeys` enum and a `dimension` case.
It looks like related with #12, #15 and #24 issues.

[code]

[2018-12-10 21:41] cemolcay commented on #28
OK, I made some progress.
Fires

[2018-12-10 22:08] cemolcay commented on #28
New update, again. I was using the last release 0.3.0 but updated it to the version on the master branch. I still need to make `dimension` optional.
Now, I'm getting the same error `"Expected to decode String but found a dictionary instead."` on shared string's `text` property as well.

[2018-12-14 10:26] MaxDesiatov opened #29 "Generate and publish Jazzy docs"
XMLCoder should have publicly visible docs for its API. First option to consider for auto-generated docs is [Jazzy](https://github.com/realm/jazzy). Generated docs could be published with GitHub Pages.

[2018-12-14 15:16] zubairghori commented on #27
How can i get it resolve?

[2019-01-11 14:41] #26 closed

[2019-01-11 14:44] MaxDesiatov commented on #26
Many thanks for reporting this @FleetPhil and sorry for the delay caused by amount of work that was done on [`XMLCoder`](https://github.com/MaxDesiatov/XMLCoder) as a direct dependency of `CoreXLSX`. This issue should be fixed in `master` and the fix will be released as a part of the imminent 0.4 release. Please feel free to reopen this issue if it's still reproducible for you with either of those

[2019-01-11 14:45] MaxDesiatov commented on #27
Thanks for the report @zubairghori and sorry for the delay. This issue is fixed in `master` branch and the fix will be released as a part of the 0.4 released soon. Please feel free to reopen this issue if it's still reproducible with those versions.

[2019-01-11 14:46] #27 closed

[2019-01-18 08:54] MaxDesiatov opened #32 "expose XMLDecoder error context length property"
As soon as new version of `XMLCoder` is released, it will provide a new error context length property, which should be exposed on `XLSXFile` to make debugging in  `CoreXLSX` easier

[2019-01-30 10:38] MaxDesiatov opened #35 "Can't decode sharedStrings.xml"
Failing elements:

[code]

This is blocked by MaxDesiatov/XMLCoder#12, potential API design for resolving this is described in [MaxDesiatov/XMLCoder#45](https://github.com/MaxDesiatov/XMLCoder/pull/45#issuecomment-455497833)

[2019-02-03 07:11] maxvol opened #37 "Couldn't find end of Start Tag c"
Error Domain=NSXMLParserErrorDomain Code=73 "(null)" UserInfo={NSXMLParserErrorColumn=16328, NSXMLParserErrorLineNumber=2, NSXMLParserErrorMessage=Couldn't find end of Start Tag c
}

[2019-02-07 12:08] MaxDesiatov commented on #37
Thank you for reporting this @maxvol and sorry for the delay. Could you please try the latest 0.4.0 version and pass sufficiently large value (10, maybe 20 for example) `errorContextLength` argument to `XLSXFile` initializer? I hope that debug description of that error with the XML snippet it would get can be shared here. That way I could have a look at what exactly fails in the XML and it would b

[2019-02-07 12:11] MaxDesiatov commented on #12
Hi folks, sorry for the delay. I hope you could try the latest 0.4.0 version and pass a sufficiently large value (10, maybe 20 for example) as `errorContextLength` argument to `XLSXFile` initializer. This would give more debug info and provide a snippet of XML that failed to parse, which would help us to debug the issue. Thanks!

[2019-02-07 12:18] MaxDesiatov commented on #28
Hi @cemolcay, sorry for the delay. Is this reproducible for you in CoreXLSX 0.4.0?

[2019-02-07 12:20] MaxDesiatov commented on #21
0.4.0 was released today, hope you can try it and I look forward to your feedback. I'm leaving this issue open until we have some more detailed documentation and guides and what's the best way to get cell values in all cases.

[2019-02-07 12:22] MaxDesiatov commented on #24
The reported cases were aded to the relationships enum, please feel free to reopen the issue if this is still reproducible for you in 0.4.0 and `master` branch. Thanks.

[2019-02-07 12:22] #24 closed

[2019-02-08 00:04] cemolcay commented on #28
No, I think it fixed, thanks!

[2019-02-08 00:04] #28 closed

[2019-02-17 05:53] cyvaluer opened #41 "archiveEntryNotFound"
Hi.

I am posting this issue since when I try to parse excel files like the one attached I get the message "archiveEntryNotFound" and the cells are not serialised.

[137679-ComparativeSalesInformation.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/2872697/137679-ComparativeSalesInformation.xlsx)

Thank you!

[2019-02-17 17:26] Divya2301 opened #42 "about getting string from sharedStrings file"
I want complete list string value not unique from .xlsx file in including empty cell also and in particular order row wise or column wise, but Using sharedString.xml, I am getting only unique values and random order. How can I do this? Can u help on this? Thanks

[2019-02-19 11:30] MaxDesiatov commented on #41
Hi @cyvaluer! Thank you very much for reporting this issue and attaching the file. I've been able to fix `archiveEntryNotFound` errors caused by CoreXLSX not being able to handle root paths in relationships XML. After #43 is merged we'd be able to correctly handle all paths in the .xlsx archive.

There is an additional problem though caused by usage of [XML namespaces](https://www.w3schools.com/xm

[2019-02-20 18:32] #42 closed

[2019-02-20 18:40] hodovani commented on #42
Thank you @Divya2301 for your report.
We just added an [example](https://github.com/MaxDesiatov/CoreXLSX#shared-strings) that clarifies your use case.

[2019-03-11 11:18] Adenc opened #45 "parse styles.xml"
I need to parse styles.xml to get the properties like time，can you help me

[2019-03-16 11:28] MaxDesiatov commented on #45
Hi @Adenc, thank you for reporting this! There's work in progress to implement this in PR #46

[2019-03-18 08:17] murabye opened #47 "cant parse file"
Maybe I use library incorrect, sorry.
I can't parse files from google sheets.
Example file is: https://docs.google.com/spreadsheets/d/1sYkVn4MkLaXS2zUrh3_HTsgHHqNvWy-47dhlh32EfqM/export?format=xlsx
I try to parse sheet from the file and get something about:
Cell(reference: C1, type: Optional("s"), s: Optional("2"), inlineString: nil, formula: nil, value: Optional("1"))
But there is string "АПО-1"

[2019-03-18 08:55] murabye commented on #47
sorry, google sheets gives all cells like shared and I can read it by
`
let sharedStrings = try file.parseSharedStrings()
let columnCStrings = ws.cells(atColumns: [ColumnReference("C")!])
  .filter { $0.type == "s" }
  .compactMap { $0.value }
  .compactMap { Int($0) }
  .compactMap { sharedStrings.items[$0].text }
`

[2019-03-18 08:55] #47 closed

[2019-03-18 09:00] MaxDesiatov commented on #47
@murabye Glad to hear this fixes the issue for you. Please feel free to report any problems if you stumble upon any. Thank you for using CoreXLSX!

[2019-03-18 11:18] #45 closed

[2019-03-20 06:01] vaibhav-jhaveri-ds commented on #41
@MaxDesiatov Can you please help me out with a code snippet how to get rid of above mentioned error?

[2019-03-20 13:08] MaxDesiatov commented on #41
Hi @vaibhav-jhaveri-ds, would you mind attaching the file that's causing the issues for you here? Or if that file contains any data that you wouldn't like to share publicly, can you please send the file to corexlsx@desiatov.com? This would greatly help in verifying the cause of the issue. Thank you!

[2019-03-25 03:08] caohrong opened #48 "crash all the time."
I try to use different excel in my project. but it's always crash at here.

`
storage.push(container: box)
decoded = try type.init(from: self)
storage.popContainer()
`
Anyone know how what happening here? Thanks

[2019-03-26 11:09] MaxDesiatov commented on #48
Hi @caohrong, is this reproducible for you in `master` of CoreXSLX or its 0.4.0 version? Unfortunately, it's very hard to fix an issue like this without having more details. Were there any error messages printed in the console when it crashes? Would you mind attaching any of the .xlsx files to this issue or sending one to hello@corexlsx.org?

[2019-03-28 02:20] caohrong commented on #48
I send the xlsx and some more detail to your E-mail. Thanks for your help.

[2019-03-28 08:17] siboney opened #49 "can't read Chinese from file"
I read a xlsx file containing Chinese characters, but the corresponding  cell returns  nil.
Can you tell me why?

Thanks!

[2019-03-28 10:02] siboney commented on #49
here is my code :

public func documentPicker(_ controller: UIDocumentPickerViewController, didPickDocumentAt url: URL) {

    let myURL = url as URL
    var tab: [String] = []
    var data: [[[String]]] = []

    guard let file = XLSXFile(filepath: myURL.path) else {
      fatalError("XLSX file corrupted or does not exist")
    }

    do {
      let workBook = try file.parseWorkbooks()
      let

[2019-03-28 10:19] siboney commented on #49
xlsx file like this:
[test.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3017369/test.xlsx)

[2019-03-28 10:51] MaxDesiatov commented on #48
Hi @caohrong, thanks for the details, I'm having a closer look now 👍

[2019-03-28 13:59] siboney commented on #49
I think I understand the reason for the problem. Because Chinese characters appear in the document, the xlsx file will save the characters in  "sharedStrings.xml" file, and the values ​​in the worksheet will be saved in the form of an index. The value of each index corresponds to the characters in "sharedStrings.xml" file.

[2019-03-29 04:54] stonkeep opened #50 "error parseWorksheet"
I'm getting this error all the time

typeMismatch(Swift.String, Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "sheetData", intValue: nil), CodingKeys(stringValue: "row", intValue: nil), XMLKey(stringValue: "365", intValue: 365), CodingKeys(stringValue: "c", intValue: nil), XMLKey(stringValue: "2", intValue: 2), CodingKeys(stringValue: "f", intValue: nil)], debugDescription: "Exp

[2019-03-29 09:18] MaxDesiatov commented on #49
Hi @siboney! Were you able to read the text from shared strings similarly to what was described in [this example code](https://github.com/MaxDesiatov/CoreXLSX#shared-strings)?

Thanks for reporting the issue and I look forward to hearing from you!

[2019-03-29 09:20] MaxDesiatov commented on #48
I've pushed a fix to `master`, which fixes the issue with the file you've sent me @caohrong. Can you please try using `master` branch in your project and let me know if that works for you?

Thanks!

[2019-03-29 10:53] MaxDesiatov commented on #12
Hi everyone, if you've previously had issues, please try the latest 0.4.0 version or if those persist – the `master` branch and post the details here or create new issues. Otherwise if no updates are posted here I'll have to close this issue as outdated.

Thanks for understanding!

[2019-03-29 11:51] #49 closed

[2019-03-29 11:53] siboney commented on #49
Thank you very much!  I  already got the right value.

[2019-04-02 06:40] pakhiAish opened #51 "Error ParseCellContent"
I am getting an error while reading excel sheet cell content.
using this method to read content.  file.parseSharedStrings()
getting an error this "Expected to decode String but found SharedBox<UnkeyedBox> instead."
[SampleExcel.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3032601/SampleExcel.xlsx)

[2019-04-04 07:00] yashbedi opened #52 "Opening xlsx file Document Directory, Crashes"
Hello,
Thank you for creating such an awesome library I'm trying to open a .xlsx file from he document directory and it crashes all the time.

Now when I open the xlsx file from the Bundle
with the below URL : `/var/containers/Bundle/Application/625F9EB4-041E-4546-83A4-0712C667E57F/RegressionTool.app/TestData.xlsx`

It works fine.

But when I open it from the Documents Directory the url is :
`file

[2019-04-07 11:42] MaxDesiatov commented on #52
Hi @yashbedi, thanks for reporting this issue and sorry for the delay. The first value you have is not a URL, but a file path as it doesn't have `file://` prefix: `/var/containers/Bundle/Application/625F9EB4-041E-4546-83A4-0712C667E57F/RegressionTool.app/TestData.xlsx`. The second value is a URL. `XLSXFile` initializer accepts only file paths. If have the second value of actual `URL` type, you can

[2019-04-07 18:22] #12 closed

[2019-04-07 18:24] MaxDesiatov commented on #21
Closing this as `parseSharedStrings` is [documented in README](https://github.com/MaxDesiatov/CoreXLSX#shared-strings) now. As usual, please feel free to reopen or create a new one if you find any issues or need help.

[2019-04-07 18:24] #21 closed

[2019-04-07 18:29] MaxDesiatov commented on #51
hi @pakhiAish, thank you for reporting this and sorry for the delayed reply.

This issue is currently blocked by MaxDesiatov/XMLCoder#89, but that's going to be merged in the next few days as soon as maintainers of XMLCoder repository are able to review that PR. Then I'll be able to bump XMLCoder version here and resolve it in CoreXLSX. Thanks for understanding 🙏

[2019-04-11 11:36] #41 closed

[2019-04-11 11:37] MaxDesiatov commented on #41
Hi @cyvaluer, sorry for the delay. This issue is fixed in `master` and I've verified that your file can be parsed successfully with the version installed from the `master` branch. This fix will also be included in the imminent 0.5.0 release. `master` is quite stable at the moment, so I encourage you to use `master` in the meantime. Thanks!

[2019-04-13 06:17] cyvaluer commented on #41
Thank you @MaxDesiatov for your efforts and your excellent job for CoreXLSX!!!

[2019-04-13 10:04] MaxDesiatov commented on #41
Thank you @cyvaluer for using CoreXLSX and providing the test file, it wouldn't be possible to fix the issue without your help!

[2019-04-16 03:07] stonkeep commented on #24
I'm getting almost the same error

`Error 2: dataCorrupted(Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "relationship", intValue: nil), XMLKey(stringValue: "2", intValue: 2), CodingKeys(stringValue: "type", intValue: nil)], debugDescription: "Cannot initialize SchemaType from invalid String value http://schemas.openxmlformats.org/officeDocument/2006/relationships/connections",

[2019-04-16 03:07] stonkeep opened #56 "Importing XLSM file"
I'm getting almost the error

`Error 2: dataCorrupted(Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "relationship", intValue: nil), XMLKey(stringValue: "2", intValue: 2), CodingKeys(stringValue: "type", intValue: nil)], debugDescription: "Cannot initialize SchemaType from invalid String value http://schemas.openxmlformats.org/officeDocument/2006/relationships/connections", under

[2019-04-16 07:39] MaxDesiatov commented on #56
Hi @stonkeep, thank for reporting this issue. I've just aded the case in the `master` branch, hope that helps. Could you please try reinstalling the CoreXLSX package from `master` branch and try parsing the same file, does that resolve your issue?

[2019-04-16 07:51] MaxDesiatov commented on #24
Thanks for reporting this @stonkeep, could you please provide more details after checking out the `master` branch in #56?

[2019-04-16 08:41] MaxDesiatov commented on #37
Hi @maxvol, any updates on this? I also encourage you to try `master` as it had more improvements for handling of large .xlsx files.

[2019-04-16 08:43] MaxDesiatov commented on #48
As this issue haven't been updated by the OP with more info, I'll have to assume it's fixed.

[2019-04-16 08:44] #48 closed

[2019-04-16 08:48] MaxDesiatov commented on #50
Hi @stonkeep, could you please attach the file for reproduction or try the `master` branch for this file? My understanding is that this issue was fixed in `master`, but I hope we could double check with your file. Thanks!

[2019-04-16 08:51] MaxDesiatov commented on #51
Hi @pakhiAish, this issue has been fixed in the `master` branch and I was able to verify it with your file. Would you be able to confirm it? Thanks and sorry again for the delay!

[2019-04-17 09:34] #35 closed

[2019-04-18 05:31] pakhiAish commented on #51
Hello,
I am still getting the same error message.
Like This-- debugDescription: "Expected to decode String but found SharedBox<UnkeyedBox> instead."
I update my pod file. But cannot read excel file.

[2019-04-18 17:47] MaxDesiatov commented on #51
I've just released version 0.5.0. Could you please update your `Podfile`/`Cartfile`/`Package.swift` to 0.5.0 and run a corresponding update command for your package manager? I'm able to reproduce the issue with the old version with the file you attached, but not with the new 0.5.0 version, so I'm still hoping there was a problem of installing not too fresh version from `master`. Pretty sure that i

[2019-04-18 17:47] MaxDesiatov commented on #56
0.5.0 has been released, would you please update to this version and let me know how it works for you? Thanks!

[2019-04-18 17:50] MaxDesiatov commented on #37
I've just released 0.5.0 that fixes a similar parsing issue for big .xlsx files, please let me know if that fixes the issue for you @maxvol. Thank you!

[2019-04-23 10:56] yashbedi commented on #52
hey thank you, sure I'll check it out. Thank you.

[2019-04-23 11:16] pakhiAish commented on #51
Hello MaxDesiatov/CoreXLSX,
Thank you for your concern. Now I can read excel file in any format.

On Thu, Apr 18, 2019 at 11:17 PM Max Desiatov <notifications@github.com>
wrote:

--

*Regards!!*
*Aishwarya Bansal*
*iOS Developer*

[2019-04-23 13:33] #51 closed

[2019-04-25 12:07] quockhai opened #58 "Can't not get cell string"
A cell has inline string but CoreXLSX return nil

Print result in console and i get this:
Cell(reference: E1, type: Optional("s"), s: nil, inlineString: nil, formula: nil, value: Optional("1157"))

[2019-04-28 14:47] MaxDesiatov commented on #58
Hi @quockhai, can you please attach your .xlsx file to this issue or send it to hello@corexlsx.org, which would allow me to diagnose the problem? Thank you very much!

[2019-04-29 12:32] swainwri opened #59 "Error Domain=NSCocoaErrorDomain Code=4865 "Expected String but found null instead.""
Received this error in catch (NSError) when parsing the worksheet

if filemgr.fileExists(atPath: dataFileURL.path) {
            let file = XLSXFile(filepath: dataFileURL.path)
            do {
                for path in try file!.parseWorksheetPaths() {
                    let worksheets = try file!.parseWorksheet(at: path)

Printing description of self.error:
▿ Optional<NSError>
  - some : Erro

[2019-05-02 11:07] MaxDesiatov commented on #37
Closing this issue as it hasn't been updated for a while and I don't have enough info or the original file to reproduce it. Issues similar to this one were recently fixed in 0.5.0 version. Please feel free to reopen or to create a new one with the reproduction details.

[2019-05-02 11:07] #37 closed

[2019-05-02 17:02] MaxDesiatov commented on #59
Hi @swainwri, sorry for the delay caused by blocking issues in the main dependency: XMLCoder. Now those issues are fixed and I've added a separate `Formula` model type in #61. As soon as that PR is reviewed by the co-maintainer, it's ready to use in `master` branch, but for a super-urgent fix you can use the temporary `formula-fix` branch too. 0.6 is going to contain this fix and will be released

[2019-05-02 18:08] #50 closed

[2019-05-02 18:09] MaxDesiatov commented on #50
This looks very similar to #59 so unless more data is provided, I'd like to assume this is the same issue, which was fixed in #61. The fix is now available in `master` and will be included in the next 0.6 release.

[2019-05-02 18:16] MaxDesiatov commented on #56
As this issue hasn't been updated for a while I'm assuming it's fixed. Please feel free to reopen this issue or to create a new with more details otherwise.

[2019-05-02 18:16] #56 closed

[2019-05-03 00:18] swainwri commented on #59
Max

Appreciate your quick response

Thanks
Steve Wainwright

[2019-05-03 03:53] swainwri commented on #59
Max

Just to follow up, the new CoreXLSX 0.6.0 works without fault on a iOS Simulator.

And even on the actual iPad, parses in the sharedStringItems without error,
when I browser through sharedStringsItems I observe many 'unable to read data’ in the text variable.

private func cellText(_ cell: CoreXLSX.Cell) -> String? {
        var returnString: String?
        if cell.type == "s" {

[2019-05-03 04:14] swainwri commented on #59
sorry the 2 joel files don’t get past the parseStringItems routine, whereas the L5 file
fails as I explained in previous email

All 3 files parse perfectly(?) on Simulator

[2019-05-03 08:11] MaxDesiatov commented on #59
@swainwri do you run exactly same code on the simulator and the device?

I'd avoid using a force unwrap there, you could avoid the crash this way:

[code]

Or something along those lines.

[2019-05-03 10:13] MaxDesiatov opened #62 "Benchmark parsing speed"
Currently there's no data on how parsing speed changes for big files. This is somewhat blocked by #20. When that one's implemented I'd like CoreXLSX to write out and parse back big files and record the time to be correlated with changes made to [XMLCoder](https://github.com/MaxDesiatov/XMLCoder) and model types.

[2019-05-08 10:19] MaxDesiatov commented on #59
As confirmed by the OP, this issue is no longer reproducible.

[2019-05-08 10:19] #59 closed

[2019-05-09 12:30] MaxDesiatov commented on #58
Thank you @quockhai! As the type of cell is `"s"` it means that the value of the cell is stored in the `SharedStrings` model. I have a snippet which gets the value from that model type [in README](https://github.com/MaxDesiatov/CoreXLSX#shared-strings). Please feel free to reopen this issue if that doesn't work for you.

[2019-05-09 12:30] #58 closed

[2019-05-11 11:20] grin opened #64 "Can't load basic spreadsheets created in Google Docs"
**Version**
'~> 0.6.1'

**Describe the bug**
Error I'm getting when trying to load very basic spreadsheets:

[code]

**To Reproduce**
[HelloWorld.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3168954/HelloWorld.xlsx)
[Blank.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3168955/Blank.xlsx)

Attaching two files which fail to load with the below code:

[code]

**Expected behavior**
The fi

[2019-05-11 20:17] MaxDesiatov commented on #64
Hi @grin, thank you for the detailed report, great catch! This is currently blocked by MaxDesiatov/XMLCoder#101, which is our main dependency. But it should be an easy fix overall. As soon as that PR is merged I'll tag a new XMLCoder release and bump the dependency here, which will fix the reported styles issue.

[2019-05-11 20:24] grin commented on #64
@MaxDesiatov  Thanks a lot, that was fast! ...and thanks for a great library.

[2019-05-17 13:50] grin opened #65 "fillId and borderId attrs missing from CoreXLSX.Format"
Example cell format:

[code]

is encoded as:

[code]

Note, `fillId` and `borderId` are missing.

[2019-05-18 07:59] #65 closed

[2019-05-25 10:40] #64 closed

[2019-05-25 12:09] MaxDesiatov commented on #64
This is now fixed in `master` and will be included in 0.6.2 bugfix release.

[2019-05-25 12:23] MaxDesiatov commented on #64
Uh, looking at it more closely now, there's no way that it will be backward compatible, optionality of a few properties will have to change. This means 0.7.0 instead of 0.6.2.

[2019-06-06 08:37] ktiniatros opened #71 "Getting the value of a cell with number format?"
Hello,

I cannot read values from cells which contain numbers, eg the value 1,19. The cell is formatted as Number.

Is this possible with this library?

Thanks!

[2019-06-06 10:03] MaxDesiatov commented on #71
Hi @ktiniatros, thank you for reporting this issue. Would you be able to attach the spreadsheet file and specify cells that you're having the problem with? That would greatly help in fixing the issue.

If your spreadsheet file contains any sensitive information that can't be shared publicly, can you please send it to hello@corexlsx.org?

[2019-06-12 21:04] ktiniatros commented on #71
It turns out I was trying to access the cell number value in the wrong way. But I believe I was a bit mislead by the inconsistency of the api + the lack of documentation. I'll explain what I mean:
If cell 1 of a row contains a string then `row.cells[1].value` returns the index to `file.parseSharedStrings()`
But if cell 1 of a row contains a number then `row.cells[1].value` returns the value (i.e.

[2019-06-13 09:47] MaxDesiatov commented on #71
Thank you very for the update @ktiniatros, I'll keep this issue open until the documentation is updated if you don't mind.

[2019-06-29 18:45] GoldenJoe opened #73 "Missing Documentation"
The following file referenced in the readme returns a 404:
https://github.com/MaxDesiatov/CoreXLSX/blob/master/Sources/CoreXLSX/Worksheet.swift

It should be:
https://github.com/MaxDesiatov/CoreXLSX/blob/master/Sources/CoreXLSX/Worksheet/Worksheet.swift

[2019-06-29 18:56] MaxDesiatov commented on #73
Thanks you so much @GoldenJoe! This is now fixed in `master`. Please feel free to reopen or report new issues if anything's missing.

[2019-06-29 18:56] #73 closed

[2019-06-30 19:08] GoldenJoe opened #74 "parseDocumentPaths has internal protection, but is needed by parseDocumentRelationships"
The comment for `parseDocumentRelationships` reads:

However, parseDocumentPaths has a default access level of "internal", so you can't call it to get the paths.

[2019-06-30 19:11] GoldenJoe opened #75 "[Enhancement] Access worksheet by name."
It would be convenient if there was something like `file.parseWorksheet(filepath: "xmlfile.xml", name: "myworksheet")`

[2019-06-30 19:15] MaxDesiatov commented on #74
Thanks @GoldenJoe, this is now fixed in `master`.

[2019-06-30 19:15] #74 closed

[2019-07-02 03:24] GoldenJoe commented on #75
I came up with a little convenience function for this earlier today. Wasn't sure if you would rather have this functionality in CoreXLSX.swift or as an extension of Worksheet, so I figure I'd just post it here and let you decide where to put it.

`func getWorksheet(file: XLSXFile, name: String) throws -> Worksheet?
{
    // Get the ID of the sheet we want
    // NOTE:A workbook should not be able

[2019-07-22 06:06] GoldenJoe commented on #20
Also interested in this.

[2019-08-02 03:51] linkfei commented on #49
@siboney  我也想知道如何读取中文呢？谢谢！

[2019-08-02 09:08] linkfei commented on #49
[test.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3460480/test.xlsx)

[2019-08-02 09:23] linkfei opened #79 "I crashed while calling try file.parsesharedstrings () with an error:"
I crashed while calling try file.parsesharedstrings () with an error:

keyNotFound(CodingKeys(stringValue: \"uniqueCount\", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: \"uniqueCount\", intValue: nil)], debugDescription: \"No attribute or element found for key CodingKeys(stringValue: \\\"uniqueCount\\\", intValue: nil) (\\\"uniqueCount\\\").\", underlyingError:

[2019-08-02 09:23] linkfei commented on #79
[test.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3460526/test.xlsx)

this is test file.

[2019-08-02 11:05] MaxDesiatov commented on #79
Hi @linkfei, thank you very much for reporting this. This issue is now fixed in `master` in #78. By the way, would you mind if I add your file to our test suite?

[2019-08-02 14:45] linkfei commented on #79
@MaxDesiatov  Thanks ! No problem !

[2019-08-12 04:45] sunilk5893 opened #81 "Not able to read Numeric data from Sheet"
Hello,

I can not read the numeric value from sheet. Could you please check this ? i attached the screenshot of example sheet. ( Here, i m not getting the values 1,2,3.. from "No" column. )
<img width="281" alt="Screenshot 2019-08-12 at 10 11 40 AM" src="https://user-images.githubusercontent.com/54015156/62845958-098b3d00-bcea-11e9-9453-f8e6f4a1e674.png">

[2019-08-13 09:42] MaxDesiatov commented on #81
Hi @sunilk5893, would you be able to attach the file here or send it to hello@corexlsx.org so that I could check what the issue is? Thanks!

[2019-08-13 09:57] sunilk5893 commented on #81
let sharedStrings = try file.parseSharedStrings()

            for path in try file.parseWorksheetPaths()
            {
                let ws = try file.parseWorksheet(at: path)

                // parse columns
                for alphabt in alphaArr
                {
                    let cells = ws.cells(atColumns: [ColumnReference(alphabt)!])
                    let columnCStrings = cells.c

[2019-08-14 08:08] linkfei commented on #79
When will it be updated?

[2019-08-14 08:08] #79 closed

[2019-08-16 08:39] linkfei commented on #79
Thanks !

[2019-08-19 03:11] sunilk5893 commented on #81
Hello,

is there any update on above issue? Sorry, but i m in hurry to execute next tasks. Request you to check the issue asap and let me know. Thanks.

[2019-08-24 20:55] EvGeniyLell opened #82 "Can't open xml"
I download xml from bank and I want convert it to csv
I try last version CoreXLSX, but I can't open file
(numbers and Microsoft excel already can open this file)
is can be opened file like this format, by  CoreXLSX?
<img width="990" alt="Screen Shot 2019-08-24 at 23 52 44" src="https://user-images.githubusercontent.com/1710383/63642609-69122100-c6ca-11e9-8457-82a523e69eba.png">

[2019-08-24 21:02] EvGeniyLell commented on #82
failed in this method  `Archive` . `scanForEndOfCentralDirectoryRecord`
return nil
`if potentialDirectoryEndTag == UInt32(endOfCentralDirectoryStructSignature) {`
not true for any trying

[2019-10-06 14:23] funnel20 opened #83 "Multi-line text in an Excel cell is parsed into single line in the SharedStrings property `text`"
**Version**
0.8.0

**Describe the bug**
First of all I'd like to give my compliments to this library. The speed is impressive.

We use multi-line strings in Excel cells. In Excel on macOS, this can be accomplished by using CTRL+ALT+ENTER for a new line _within_ a cell.

When loading the Excel file with CoreXLSX and using `parseSharedStrings()` the multi-line formatting is removed, resulting in inc

[2019-10-16 11:34] MaxDesiatov commented on #83
Hi @funnel20, thank you for creating the issue! This is fixed in #84. We're slightly blocked by CocoaPods/CocoaPods#9226, which makes CI builds fail during CocoaPods linting. But if no new release of CocoaPods with their fix is tagged soon, I'll probably merge #84 without waiting for CI to pass.

[2019-10-16 11:36] MaxDesiatov commented on #83
@funnel20 I also hope you don't mind if [the file you attached](https://github.com/MaxDesiatov/CoreXLSX/files/3694470/multi-line.text.in.cell.xlsx) is added to our test suite 🙏

[2019-10-16 11:39] MaxDesiatov commented on #82
Hi @EvGeniyLell, sorry for the delayed reply. Unfortunately, I wouldn't be able to fully diagnose the issue without having access to this file. If you run `unzip` in command-line on it, does that succeed? What's the extension of the file, is that `.xlsx` or `.xls`?

[2019-10-16 12:18] funnel20 commented on #83
Hi @MaxDesiatov , thanks for investigating this.
Please use that Excel file, as I made it on purpose for this 👍

[2019-10-17 11:30] #83 closed

[2019-10-17 12:25] MaxDesiatov commented on #81
Hi @sunilk5893, sorry for the delay. I had a closer look at your file and I'm able to get the values of those cells. To clarify, `parseSharedString` only gives you values of strings cells that are stored separately from cell values internally in the format. You can get determine if a cell value references a shared string by looking at its `type` property, where `"s"` stands for "shared", I've upda

[2019-10-24 08:34] funnel20 commented on #83
Hi @MaxDesiatov . I just verified version 0.9.0 with the same test as above. Now the expected result is returned in step 3 and 4, as there are new line characters in the cell value:

3. Xcode Console output:
[code]

4. The second cell has new line formatting `\n` in the `text` property, so it maintains the 3 lines from the Excel cell:
[code]

Thank you very much for resolving this issue and provid

[2019-10-28 19:27] EvGeniyLell commented on #82
[https://www.icloud.com/iclouddrive/0eTaGEZfTKXR07NFeJPfy3tHw#Account_test_19.09.01-19.10](url)

[2019-10-28 19:44] MaxDesiatov commented on #82
Hi @EvGeniyLell, this file is saved in an old [proprietary binary file format called Excel Binary File Format](

[2019-10-28 19:47] EvGeniyLell commented on #82
@MaxDesiatov you think with the help of your KIT it will be impossible to parse this file

[2019-10-28 19:50] MaxDesiatov commented on #82
@EvGeniyLell the file as is can't be parsed by CoreXLSX as this is a completely different undocumented format. On the other hand, any version of Office newer than 2007 should allow saving `.xls` files as `.xlsx`, I think this should be applicable to Numbers and Google Sheets too. Some loss of formatting data could be possible when you save it as `.xlsx` format, but that all depends on tools you'd

[2019-10-28 19:55] EvGeniyLell commented on #82
Sorry, but I am doing automation for this and I need to convert it to CSV
that's why I started looking for a POD that could convert XLS
Thanks for the clarification

[2019-10-28 19:57] MaxDesiatov commented on #82
If you'e interested in parsing the old format directly, you could try using something like [libxls](https://github.com/libxls/libxls).

[2019-11-06 18:39] mxcl opened #87 "Cannot initialize SchemaType from invalid String value http://schemas.openxmlformats.org/officeDocument/2006/relationships/customXml"
**Version**
0.9.0

**Describe the bug**
Parsing a spreadsheet from a customer throws this error. I can provide a sanitized version if required, but looking over the code, it seems like this is just an omitted type from `Relationships.swift`.

[2019-11-06 18:47] MaxDesiatov commented on #87
@mxcl thanks, a sanitized version would be greatly appreciated! It would allow us to keep the test coverage at the same level after new `case customXml` is added 👍

[2019-11-06 18:49] mxcl commented on #87
[jewelershealthcare.com-census (1).xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3816192/jewelershealthcare.com-census.1.xlsx)

Attached.

[2019-11-06 18:51] mxcl commented on #87
Code is:

[code]

[2019-11-06 18:59] MaxDesiatov commented on #87
@mxcl thanks, hope you also don't mind if the file is committed to the repository as a part of the test suite? (asking explicitly just in case)

[2019-11-07 11:44] #87 closed

[2019-11-07 15:07] mxcl commented on #87
nps, sure thing and thanks for the fix!

[2019-11-07 15:08] MaxDesiatov commented on #87
@mxcl thank you, this will be released as 0.9.1 tomorrow 👍

[2019-12-09 03:24] sourav13 opened #89 "Reading Date values from cell"
I tried the parsing with sharedStrings and the value of cells directly in case of numbers. Both work fine. But when there is a date in the cell field. It's not returned as String, which I thought it would be. But I get a rather random number 4328 something.

[2019-12-09 21:51] MaxDesiatov commented on #89
Hi @sourav13, thank you for reporting this. Would you be able to attach this file here or to send it to hello@corexlsx.org if you can't share the file publicly? This way it would be significantly easier to reproduce and fix the issue.

[2019-12-10 21:39] sourav13 commented on #89
[Dates.xlsx](https://github.com/MaxDesiatov/CoreXLSX/files/3947265/Dates.xlsx)

[2019-12-15 01:41] sourav13 commented on #89
Hello @MaxDesiatov So have you tested it with above file?

[2019-12-16 14:46] MaxDesiatov commented on #89
Hi @sourav13, these dates are stored in a special ["OLE Automation Date" format](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tooadate?view=netframework-4.8):

For now you can parse these dates by converting the string to a `Double` or `Decimal` value and then converting it to a date using an algorithm described above. CoreXLSX will be able to convert those dates for you automatical

[2019-12-17 05:00] sourav13 commented on #89
@MaxDesiatov  I tried parsing them as strings, If they would have been parsable as strings I would have tried converting them to the desired format but I can't read them as Strings from sharedStrings Model.

[2019-12-17 08:30] MaxDesiatov commented on #89
These cells don't have type `"s"` which would indicate their value is stored in `sharedStrings`, it can be accessed directly from the `value` property instead.

[2020-01-13 22:59] nimrodbens commented on #20
hi, is there anything new with this?

[2020-01-17 05:53] duncangroenewald opened #90 "Xcode 11 installation and build"
Hi, I am trying to build this framework using Xcode 11 and have cloned the repository but the build fails with an error - No such module 'XMLCode', however in the Dependencies folder there appear to be all the sources for XMLCode 0.1.0.

Can someone help with steps to get this compiling under Xcode 11.

BTW I am not using cocoa pods or Package Manager and assume it is possible to simply clone the

[2020-01-17 07:29] MaxDesiatov commented on #90
Hi @duncangroenewald, currently it is not possible to install CoreXLSX without any package manager due to it having dependencies in a different repository, namely [XMLCoder](https://github.com/MaxDesiatov/XMLCoder) itself. You could install [Carthage](https://github.com/Carthage/Carthage) locally and run `carthage bootstrap` to build CoreXLSX and the dependencies framework. Then you could possibly

[2020-01-17 11:38] duncangroenewald commented on #90
I just realised I am using the wrong repository anyway - I meant to install the Libxlsxwriter C library - somehow got completely confused.

Nevertheless I think opening the Package.swift with Xcode 11 was what I needed.  Of course that was just too easy to figure out myself...

[2020-01-17 11:53] MaxDesiatov commented on #90
Thanks for the update @duncangroenewald, I'll keep the issue open until I clarify this process in `README.md` so that the issue could help people who stumble upon it until then.

[2020-01-17 15:16] jcampana commented on #89
Hi, waiting for this issue. Any news? Thanks!

[2020-03-10 03:59] leuski opened #94 "file.parseWorksheet(at: path) dies"
**Version**
0.9.1

**Describe the bug**
file.parseWorksheet(at: path) throws CoreXLSXError.archiveEntryNotFound when trying to access a single sheet spreadsheet.

parseWorksheetPaths() returns [ "xl//xl/worksheets/sheet1.xml" ], which looks wrong. I'd guess, because parseWorksheetPaths() does not check that a worksheet.target ("/xl/worksheets/sheet1.xml" in this case) contains a root path and adds

[2020-04-05 16:46] MaxDesiatov commented on #94
Hi @leuski, many thanks for this bugreport. Unfortunately, I'm not sure if I'll be able to fix it without a test file, especially it would be hard to add a test case file to expand the test suite. As this seems to be an issue with worksheets, not cell data, I wonder if you could delete all the data from the original file, but keep the worksheets and attach the final result then? I hope there would

[2020-04-05 17:33] #90 closed

[2020-04-05 17:34] #82 closed

[2020-04-06 08:02] revcom opened #101 "Handling encrypted spreadsheets?"
Hi there,

I'm assuming you can't use this library to read encrypted sheets with a password.
Is this feature easy to add?

Thanks...

Robert

[2020-04-06 10:40] MaxDesiatov commented on #101
Hi @revcom, the library currently doesn't support it, but thanks for the feature request, it definitely puts it higher on the roadmap 👍 I need to investigate how it would work and I'll post any updates here when any are available

[2020-04-06 10:48] MaxDesiatov commented on #101
The most comprehensive description of how it works I found so far is this one: https://blog.didierstevens.com/2018/06/07/encrypted-ooxml-documents/

Please feel free to post if you find more information about the internals

[2020-04-06 20:49] MaxDesiatov commented on #52
As this issue hasn't been updated by the OP for almost a year, I think it can be closed now. Please feel free to reopen if needed.

[2020-04-06 20:49] #52 closed

[2020-04-06 20:53] MaxDesiatov commented on #71
There's a new API added with an extension on the `Cell` type: `func stringValue(_: SharedStrings) -> String?` in #102, it automatically checks if a cell references a shared string and fetches one if needed, otherwise it returns an inline value as a string. Hope that resolves the issue.

[2020-04-06 20:54] MaxDesiatov commented on #89
I apologize for the delay. There's a new `dateValue` property added on the `Cell` type in #102, hope this resolves the issue.

[2020-04-06 21:02] #71 closed

[2020-04-06 21:02] #89 closed

[2020-04-06 21:06] revcom commented on #101
Thanks Max

Appreciate your prompt reply. Look forward to updates when and if you get to add this feature to your excellent library

Keep up the good work...

Robert

From: Max Desiatov
Sent: Monday, 6 April 2020 8:40 PM
To: MaxDesiatov/CoreXLSX
Cc: revcom; Mention
Subject: Re: [MaxDesiatov/CoreXLSX] Handling encrypted spreadsheets? (#101)

Hi @revcom, the library currently doesn't support it, but

[2020-04-07 16:38] pankajsoni19 opened #104 "XLSB file support"
Is there any roadmap to support `xlsb` file format?

[2020-04-07 17:06] MaxDesiatov commented on #104
Hi @pankajsoni19, thanks for bringing this up. Unfortunately, there's no such roadmap. Any pull requests adding such support would be appreciated, but after a cursory look [at the spec](https://interoperability.blob.core.windows.net/files/MS-XLSB/%5bMS-XLSB%5d.pdf) of that format it doesn't look like that is going to be easy.

[SheetJS](https://github.com/SheetJS/sheetjs) seems to be providing [so

[2020-04-07 17:32] pankajsoni19 commented on #104
I did try sheetJS demo examples. I have around 300-500K rows in table with 10 columns. It just crashes my browser window. I would see if our system input can be changed, else will send a pull request shortly.

[2020-04-07 18:55] leuski commented on #94
Right. Unfortunately, as soon as I re-save the file in Mac Excel 16.35, that issue is gone. I have several excel files that exhibit this behavior (worksheet.target  = "/xl/worksheets/sheet1.xml") but a few others from the same source have the default content (worksheet.target  = "worksheets/sheet1.xml"). I'll try and track down the source of the files to see if I can reproduce this on an empty fil

[2020-04-07 20:25] MaxDesiatov commented on #94
Thank you, much appreciated!

[2020-04-09 10:58] MaxDesiatov commented on #104
I've found [yet another implementation](https://github.com/tokgolich/doctotext/blob/master/src/xlsb_parser.cpp), doesn't look that scary actually in terms of complexity, leaving the link here for posterity

[2020-04-09 11:01] MaxDesiatov commented on #104
And [another one in Python](https://github.com/wwwiiilll/pyxlsb)...

[2020-04-09 11:03] pankajsoni19 commented on #104
What i did was install libreoffice, and use it's headless tool to convert it to csv. then read csv line by line. It helps my use case as the excel sheet is quite big ~150mb and this keeps memory usage low too.

[2020-04-10 13:49] duodo2412 commented on #21
I have a problem, I hope you can help me
My file 'xlsx' is
![Screen Shot 2020-04-10 at 20 36 50](https://user-images.githubusercontent.com/44747351/78994754-0d1ddf00-7b6b-11ea-88f1-88f35eb8ebdb.png)
 - When i write
let sharedStrings = try file.parseSharedStrings()
let columnCStringsA = worksheet.cells(atColumns: [ColumnReference("A")!])
  .compactMap { $0.stringValue(sharedStrings) }
let columnCSt

[2020-04-10 16:08] MaxDesiatov commented on #21
Hi @duodo2412, the value of the cell B14 in this case is not `""`, because the cell itself is absent in the `.xlsx` file in this case. If you'd like to verify that, you can specify the exact cell:

[code]

My undertstanding is that this will return an empty array `[]` in your case. Does that resolve your issue?

[2020-04-11 07:41] duodo2412 commented on #21
Tks for the your answer .
Can i ask you another question.
![Screen Shot 2020-04-11 at 14 32 09](https://user-images.githubusercontent.com/44747351/79038150-443ecf80-7c01-11ea-8e92-86deb3706354.png)
I have a lot of sheets in xlsx file.
My code:
let sheets: [String] = try file.parseWorksheetPaths() and print result
- After that i change the order of sheet in file and execute my code again. Result is

[2020-04-11 16:11] MaxDesiatov commented on #21
Hey @duodo2412, you should check this function on the `XLSXFile` type:

[code]

This returns an array of workbooks (usually there's just one), each of which contains an array of sheets with their ids and names. Please check the [`Workbook`](https://github.com/MaxDesiatov/CoreXLSX/blob/master/Sources/CoreXLSX/Workbook.swift) model type for more details, there's also some example code in [`WorkbookT

[2020-04-11 16:28] MaxDesiatov opened #105 "API for matching sheet names to sheet paths"
Tks for the your answer .
Can i ask you another question.
![Screen Shot 2020-04-11 at 14 32 09](https://user-images.githubusercontent.com/44747351/79038150-443ecf80-7c01-11ea-8e92-86deb3706354.png)
I have a lot of sheets in xlsx file.
My code:
let sheets: [String] = try file.parseWorksheetPaths() and print result
- After that i change the order of sheet in file and execute my code again. Result is

[2020-04-12 02:20] duodo2412 commented on #21
Tks for your support.

[2020-04-23 01:14] matzsoft opened #107 "Row.cells does not include empty cells."
See the attached Package.swift, main.swift, and test.xlsx.  The spreadsheet contains one worksheet with 3 rows and 3 columns.  Yet when reading them Rows 1 and 3 show only 2 columns because ColumnB is empty.  There should be 3 cells in each of the 3 rows.

If I am missing something in the documentation please let me know.
Thanks.

[Archive.zip](https://github.com/MaxDesiatov/CoreXLSX/files/4519644

[2020-04-23 08:32] MaxDesiatov commented on #107
Hey @matzsoft, in the XLSX format there's a difference between an empty cell and absence of a cell, like a difference between `""` and `nil`. If you look at the internals of this file, it doesn't contain these cells. In general this is more efficient, especially for sparse spreadsheets. If you had a spreadsheet with a single cell Z1000000, it wouldn't contain millions of empty cells and a single c

[2020-04-23 16:44] matzsoft commented on #107
Hey Max, you are of course correct about the structure of the XML and why they chose to implement it that way.  And if your intent is to have CoreXLSX reflect the structure of the XML rather than the spreadsheet that it abstracts, then that is the way the library should behave.

However I am more interested in the table structure of the spreadsheet and need those missing cells to be there in the d

[2020-04-23 21:26] MaxDesiatov commented on #107
Sorry, after re-reading this I'm not sure I'm completely following how would you like it to work? Could you post a bigger code snippet of how you want the API to look like?

[2020-04-23 23:02] matzsoft commented on #107
Sure thing.  Here's my file ExcelTable.swift after I made my suggested patch to ColumnReference.swift.  After the patch I was able to create the extension for WorkSheet and add the two

`row.append( contentsOf: Array( repeating: ...`

and now it does what I need.  Let me know if you have any other questions.
Thanks.
[ExcelTable.swift.zip](https://github.com/MaxDesiatov/CoreXLSX/files/4525727/Excel

[2020-04-25 20:52] revcom commented on #101
Hi Max

My app is now finished using an unencrypted spreadsheet for now. I had no trouble with your library - it was excellent.

Any rough idea when you might get around to looking at the encryption support? I looked at the docs you sent and I think its a bit beyond my capabilities.

Just wanted to know if you think you could get to it this year? Next year? Later than that? I won’t hold you to any

[2020-04-26 16:31] MaxDesiatov commented on #101
Hey @revcom, I'm glad that it worked for you, I'll have another look at the encryption support and I'll see what I can do, will keep you updated.

[2020-04-26 16:37] MaxDesiatov commented on #101
@revcom do you have a sample file you could attach here or send to hello@corexlsx.org by any chance? It doesn't have to contain any real data, just empty worksheets would work, I just need to understand which of the encryption types you're likely to work with, and I also would hope it can be attached to the test suite.

[2020-04-26 21:56] revcom commented on #101
Hi Max

Sample spreadsheets sent to you privately. Thanks again for your great support

Robert

[2020-04-27 07:46] MaxDesiatov commented on #101
Thanks, I'll keep the issue open and will close it after the feature is implemented and merged, if you don't mind.

[2020-05-08 13:46] shubhamgupta-mob-ibtech opened #108 "XLSXFile not initialising when passing document directory path"
**Version**
'CoreXLSX', '~> 0.10.0'

**Describe the bug**
XLSXFile(filepath: path) was not initialising on passing the path of .xlsx file which is in application's document directory.
But when i put .xlsx file in application's bundle folder and pass bundle path to XLSXFile(filepath: path) at that time library was successfully initialise and read excel data perfectly.

**To Reproduce**
Steps to rep

[2020-05-27 22:04] #105 closed

[2020-05-31 12:53] MaxDesiatov commented on #101
Due to the amount of new dependencies the encryption feature requires, this was implemented in a separate library. Could you have a look at [CryptoOffice](https://github.com/CoreOffice/CryptoOffice/) and let me know how that works for you?

[2020-05-31 21:01] revcom commented on #101
Wow Max, you’re a quick worker 😀

I was just yesterday thinking  of checking in with you to see if you were still ok (you do have Boris for PM after all) and didn’t quite know how to do it without looking like I was hassling you to get the encryption stuff done.

I’ll pull it down now and see if it works. If I have any hassles you may not hear until tomorrow your time as we have to go out soon (8a

[2020-05-31 21:11] revcom commented on #101
Hi Max

Having a bit of trouble importing CryptoOffice - it says "/Users/macmini/Documents/FindPassword/FindPassword.xcodeproj Missing package product ‘XMLCoder’"

Do I have to download that separately?

Thanks…(got to get ready for shopping now)

[2020-05-31 21:15] MaxDesiatov commented on #101
Thanks for having a look at this so quickly. You don't have to download XMLCoder separately. If you add CryptoOffice as [any other package depedency in Xcode](https://developer.apple.com/documentation/xcode/adding_package_dependencies_to_your_app) to your application's target, it should be pulled automatically. I know that error could appear [due to Xcode bugs](https://github.com/MaxDesiatov/swift

[2020-05-31 21:57] revcom commented on #101
Hi Max

Restarted everything (Mac, Xcode etc) but still no joy

I don’t see the XML library anywhere in the dependencies listed in Xcode

No hurry - I’ll work on it whilst you sleep - off to the shops…

Robert

Robert Crago
robert@revComputing.com

[2020-06-01 08:08] MaxDesiatov commented on #101
Hey Robert, is the package added via the Xcode SwiftPM integration [as described here](https://developer.apple.com/documentation/xcode/adding_package_dependencies_to_your_app)? If so, is this issue reproducible just for your single app or any other apps too? I'm not able to reproduce the issue when I create a new app in Xcode and add both CryptoOffice and CoreXLSX to the dependencies list as shown

[2020-06-01 09:31] revcom commented on #101
Hi Max,

I got it building correctly today (whilst you were sleeping) but I DID have to add XMLCoder specifically to get it going. I used Swift package Manager for everything (CoreXLSX, CryptoOffice AND XMLCoder).

I did have two targets in my project (OSX and iOS) so that may have confused me as maybe I added CryptoOffice to the wrong project initially.

But its all good now - tomorrow I’ll tempo

[2020-06-01 10:42] MaxDesiatov commented on #101
@revcom awesome, glad to hear that the issue is fixed!

In the last 0.11 version of CoreXLSX, which you already use, as it's required to make CryptoOffice working, there's a new `parseWorksheetPathsAndNames` function. You no longer need to call `parseWorkbooks` separately, here's an example::

[code]

[2020-06-01 10:51] revcom commented on #101
Thanks Max

Will implement that in the morning.

However just for my amusement, was there a more concise way than my for loop to improve the code I sent you?

Thanks again

[2020-06-01 17:06] MaxDesiatov commented on #101
I don't think there's a more concise way, there are already a few implicit loops in my version with a few `flatMap`s and `map`s around:

[code]

And it depends on whether you'd like to optimise for conciseness, readability, correctness or efficiency. My version is certainly not very efficient if you know there's only a single woksheet with such name. But this is probably not always the case with a

[2020-06-01 20:38] revcom commented on #101
Thanks Max

Last night before going to bed, I realised that I should have looked at your implementation of parseWorksheetPathsAndNames to see how you did it before sending my last email.

Sorry about that.

One small point - is there any way of throwing an “Invalid Password” exception if the decryption fails? I looked at the code and it seems like thee is no indication back to you when decryption

[2020-06-01 20:44] MaxDesiatov commented on #101
`CoreXLSXError.dataIsNotAnArchive` is probably the best indicator unfortunately. It doesn't look like the cryptography library raises an error when the password is incorrect, it just tries to decrypt with a wrong password, which leads to a garbage output. Maybe there's some other way, but at least currently it doesn't look like the [CryptoSwift](https://github.com/krzyzanowskim/CryptoSwift) depede

[2020-06-01 20:53] revcom commented on #101
Hi again

Sorry to disturb you again but I managed to find an indication if the decryption has worked or not.

This is what I implemented in my code, not sure if its best in my code or perhaps you might consider incorporating something like it into CryptoOffice if its not too specific or likely to fail with a future version of MS Office.

            let encryptedFile = try CryptoOfficeFile(path:

[2020-06-01 20:59] MaxDesiatov commented on #101
Thanks for sharing, that's certainly another possible option, I think it would be equivalent to `CoreXLSXError.dataIsNotAnArchive` in behaviour. Although catching that error probably would be more efficient, since `str.contains` would traverse the whole decrypted data blob in search of a substring, while `.dataIsNotAnArchive` error is thrown when [ZIPFoundation](https://github.com/weichsel/ZIPFoun

[2020-06-08 08:11] #108 closed

[2020-06-08 10:02] MaxDesiatov commented on #108
BHi @shubhamgupta-mob-ibtech, was the issue resolved for you? If so, could you share the solution please? Thanks!

[2020-06-10 18:41] sea5kg opened #113 "`file.parseWorksheetPathsAndNames()` wanna `workbook: <#Workbook#>`"
**Version**

0.11.0

**Describe the bug**

Copied example code from readme but I have compile errors

**To Reproduce**
Steps to reproduce the behavior:

1. copy code from readme
[code]
2. compile

**Expected behavior**
Worktable code in readme

[2020-06-10 19:41] #113 closed, assigned to MaxDesiatov

[2020-06-12 10:04] mb812 opened #114 "Error parsing cells with Time value"
**Version**
CoreXLSX (0.11.0)

**Describe the bug**
Excel cells with Time validator not get correctly parsed.
Look at the attached file.

**To Reproduce**
[code]

**Expected behavior**
09:30:00 as string

**File for reproduction**
look at the isf_agenda_template_1_0.xlsx attached file

**Additional context**
Swift 5 iOS app running on iPhone 7 with iOS 13.5.

[isf_agenda_template_1_0.xlsx](https:/

[2020-06-12 10:21] MaxDesiatov commented on #114
Thanks for reporting this @mb812, I'll have a look.

[2020-06-12 15:13] #114 closed

[2020-06-12 15:14] MaxDesiatov commented on #114
The issue is now fixed in the main branch and will be included in the next 0.11.1 release.

[2020-06-25 11:00] Ethan-Chew opened #116 "Printing Strings in a Column"
Hi there, I am new to CoreXLSX. When I print the data in column C as in the Readme.md, this error occurs.

'keyNotFound(CodingKeys(stringValue: "sz", intValue: nil), Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "si", intValue: nil), XMLKey(stringValue: "374", intValue: 374), XMLKey(stringValue: "374", intValue: 374), CodingKeys(stringValue: "r", intValue: nil), XMLKey(stringVal

[2020-06-26 16:28] MaxDesiatov commented on #116
Hi @Ethan-Chew, thanks for reporting the issue. It should be fixed in the new 0.12.0 version. Does updating to it resolve the issue for you?

[2020-06-28 02:55] Ethan-Chew commented on #116
It did not resolve the issue

[2020-06-28 09:53] MaxDesiatov commented on #116
Hi @Ethan-Chew, I saw your previous comment, but I'm still not sure of the outcome. If the issue is still reproducible for you, would you be able to send the file that causes the issue to hello@corexlsx.org if possible, or attach here if you can share it publicly? Otherwise, if the issue is resolved, do you think that I can close it here?

Thanks.

[2020-06-30 10:10] Ethan-Chew commented on #116
My current issue is the code telling me that the file does not exist while it does..

[2020-06-30 10:11] MaxDesiatov commented on #116
I'm sorry, it's very hard to diagnose the issue without more details. What's the error message are you seeing? Is this reproducible with just this single file or any file?

[2020-06-30 10:13] Ethan-Chew commented on #116
I have attached the file

Error message:
Fatal error: XLSX file at ./data.xlsx is corrupted or does not exist: file /Users/My Macbook/Documents/Programs:Codes/Data Collection Test/Data Collection Test/ViewController.swift

[Data Collection Test.zip](https://github.com/CoreOffice/CoreXLSX/files/4851053/Data.Collection.Test.zip)

[2020-06-30 12:48] MaxDesiatov commented on #116
Thank you for supplying those. The file path you use is incorrect, you should specify the full path like this:

[code]

Also, you will have to pull CoreXLSX 0.12.0 with `pod update`, it looks like you still have version 0.11 in your project.

[2020-06-30 13:31] Ethan-Chew commented on #116
Thank you so much for helping, it is working now!

[2020-06-30 13:31] #116 closed

[2020-06-30 13:49] MaxDesiatov commented on #116
No problem, happy that you've chosen CoreXLSX. Plase let me know if you see any other issues 🙂

[2020-06-30 15:48] nidegen opened #117 "DOCX?"
Hi there!

I'd be interested in parsing .docx. Is that of similar scope as this?

Ideally, I'd have a markdown to docx parser at some point:)

[2020-06-30 17:08] MaxDesiatov commented on #117
I had an attempt to implement `.pptx` in #63, but haven't got that completely finished. I imagine `.docx` support would look quite similar. I'm still on the fence whether it should be added to this specific project, or a separate umbrella project. Also, what you're describing here would imply generating new `.docx` files from this library I assume? In my experience, providing read-write support is

[2020-07-04 14:23] Ethan-Chew opened #118 "Printing an empty cell?"
Is there a way to print an empty cell? After doing,
`
let test = worksheet.cells(atRows: [2])
 .compactMap { $0.stringValue(sharedStrings) }
`
Empty cells don't return as "" but as nil, also removing it as Compact Map was used.

Thanks for the help

[2020-07-07 09:56] robgtsoftware commented on #94
I have run into the same (or a similar) issue and was curious if there had been any movement here. At the moment, I can't share my files, but am seeing if I can get permission. I have found that the files I have will open in tools like Numbers or Excel without issue, and as soon as they are saved by those tools, the CoreXLSX library can open them just fine. However, before that save, the file fail

[2020-07-07 10:09] MaxDesiatov commented on #94
Thanks for the detailed report @robgtsoftware, #119 may fix this, but it's going to be hard to verify on my side without having access to the file. Feel free to send it to hello@corexlsx.org. Otherwise, could you try with the `optional-mergecells-count` branch I used in that PR?

[2020-07-07 13:51] MaxDesiatov commented on #94
That PR is now merged, so please test with the `main` branch if you don't mind.

[2020-07-07 16:16] robgtsoftware commented on #94
Thx for the quick turn around. The PR fixes things such that this now works:

[code]

However, the following is still throwing the error it was before, e.g. bookViews

[code]

I have been using this via Carthage, but will try to get the source building so I can see if I can help out a bit trying to see where the issue lies..Thanks for the help so far, appreciate it.

[2020-07-07 17:46] MaxDesiatov commented on #94
Thank you, this is super helpful! I'll have a look now.

[2020-07-07 18:40] MaxDesiatov commented on #94
I've made yet another stab in the dark in #120, the branch is `view-optional-properties`. @robgtsoftware if you could test with this one that would be amazing! Thanks.

[2020-07-07 19:23] robgtsoftware commented on #94
Your stab in the dark was spot on, try file.parseWorkbooks() now works as it should for my file. Thanks so much.

[2020-07-07 19:25] #94 closed

[2020-07-07 19:26] MaxDesiatov commented on #94
Splendid! The fix will be included in the next 0.13.0 version 👍

[2020-07-07 19:27] MaxDesiatov commented on #94
Thanks again for providing very detailed error messages, these very crucial for coming up with the fix!

[2020-07-08 20:31] Davvie opened #121 "archiveEntryNotFound error"
**Version**

0.12.0

**Description of the bug**

An `archiveEntryNotFound` error is thrown for certain files (but I couldn't figure out what exactly causes the issue)

**Steps to reproduce**

1. Load the file attached bellow (`let file = XLSXFile(filepath: tableFilePath)`)
2. Call `parseSharedStrings`

**File for reproduction**

Test.xlsx
https://tools.hb.bizmrg.com/Test.xlsx

[2020-07-09 11:46] MaxDesiatov commented on #121
Hi @Davvie, this means that the file doesn't have shared strings in it, all strings are stored as inline. Right now you can catch the error and continue parsing the rest of the data without shared strings. Does that resolve the issue for you?

[2020-07-09 11:47] MaxDesiatov commented on #121
You can catch this specific error stay on the safe side: `CoreXLSXError.archiveEntryNotFound`.

[2020-07-09 12:16] MaxDesiatov commented on #121
Also, would you mind if I include the file that you attached here to the CoreXLSX test suite?

[2020-07-09 15:12] MaxDesiatov commented on #118
Hi @Ethan-Chew, there's a difference here between an empty cell and absence of a cell. If you'd like to know whether a cell contains a shared string value in this worksheet, you'll have to use `map` in this specific case. You can also read cell's `value` to get its inline value. Otherwise, if a cell is not present in worksheet's `data?.rows` arrays, then it's not present in the worksheet. Does tha

[2020-07-09 16:01] Davvie commented on #121
Hi Max, thank you for a quick reply. After further testing I found out that `parseSharedStrings` is not the only method that throws this error while trying to parse this file. `parseWorksheet` also does

Here is an example:

[code]

Sure, no problem

[2020-07-09 16:03] MaxDesiatov commented on #121
Cool, thank you for the sample file! The issue with `parseWorksheet` seems to be similar to https://github.com/CoreOffice/CoreXLSX/issues/94. Would you be able to update to the latest 0.13.0 version and try if the issue reproducible with it too?

[2020-07-09 16:10] Davvie commented on #121
You're welcome. Sure, I've tested this code snippet with 0.13.0, but unfortunately it fails with the same error

Here is another sample file which also fails for that snippet
[Test2.xlsx](https://github.com/CoreOffice/CoreXLSX/files/4898016/Test2.xlsx)

[2020-07-09 16:11] Davvie commented on #121
What is common between these sample files is that they're both either edited or created using Python's `openpyxl` module (but they seem to open fine in Excel though)

[2020-07-09 16:13] MaxDesiatov commented on #121
Ah, that probably explains it. If the file opens in Excel, that still means it's a bug in CoreXLSX, I'm having a closer look now.

[2020-07-09 18:01] #121 closed

[2020-07-09 18:03] MaxDesiatov commented on #121
The issue should be fixed in the `main` branch now, please feel free to reopen otherwise. Thanks again for the detailed report!

[2020-07-09 22:34] Davvie commented on #121
Thank you a lot for the fix and all the hard work you put into CoreXLSX!

[2020-07-10 09:50] MaxDesiatov commented on #121
No problem! If you enjoy working with CoreXLSX, please consider [sponsoring me on GitHub](https://github.com/sponsors/MaxDesiatov) with monthly donations or [on my website](https://desiatov.com/sponsor/) with a one-time payment 😉

[2020-07-13 04:27] Ethan-Chew commented on #118
In my case, it is an empty cell, however, after running Compact Map, it returns as nil instead of "".  I grabbed the whole row, and there is 1 empty cell, however, for that cell itself, it returns as nil.

[2020-07-13 10:19] MaxDesiatov commented on #118
I underestand that, but unfortunately the only way for us to distinguish an empty string in a cell `""` and absence of the cell is to look into what's stored in the file. If you spreadsheet editor or exporter (Excel most of the time) displays the cell as empty, but doesn't write it to the file, I don't think there's anything we can do in the library. The information about the cell containing an em

[2020-07-13 23:37] Ethan-Chew commented on #118
Ah.. Ok. I have found a temporary solution for anyone who reads this.. Just replace all empty cells with some string like "Empty Cell"

[2020-07-13 23:37] #118 closed

[2020-07-16 13:30] Ethan-Chew opened #124 "Getting Data From a specific Worksheet"
I am so sorry to ask so many questions...

May I know how I can get the data from a specific worksheet, rather than letting the code run through all worksheets? Thanks

[2020-07-16 16:18] MaxDesiatov commented on #124
Hi @Ethan-Chew, no worries, it's totally fine 🙂 Did you check [the example code in `README.md`](https://github.com/CoreOffice/CoreXLSX#example)? `parseWorksheetPathsAndNames` returns you an array of worksheet names and paths. If you know the worksheet name you're interested in upfront, you could filter it out and parse only that one. Does that answer your question?

[2020-07-16 23:10] Ethan-Chew commented on #124
Yep, it answers my question.
However, what do I use?

file.parseWorksheet()? What do I put in the parentheses though..

[2020-07-17 12:17] MaxDesiatov commented on #124
`parseWorksheet(at:)` expects a worksheet path as its argument. If you know the worksheet name, you could filter the path out and then parse it like this:

[code]

Would this snippet work in your case?

[2020-07-18 04:21] Ethan-Chew commented on #124
In my case,

`guard let path = try file.parseWorksheetPathsAndNames(workbook: wbk)` Shows error "Initializer for conditional binding must have Optional type, not '[String]' "

and

`let worksheet = try file.parseWorksheet(at: path)` Shows error "Cannot convert value of type '[String]' to expected argument type 'String'"

as path is a array and not a string

[2020-07-18 10:25] arq963 opened #125 ".xlsx File not opening with XLSXFile()"
**Version**

CoreXLSX 0.13.0
XMLCoder 0.11.0
ZIPFoundation 0.9.11

**Description of the bug**

I had been using version CoreXLSX 0.10.0 which was working fine for me. I created a new project and added the package but it didn't opened the file. Interestingly I downloaded the 0.10.0 version and created a new project but it also didn't open the file. Even more interesting is that I upgraded my origin

[2020-07-19 13:06] MaxDesiatov commented on #124
Apologies, here's a snippet that should work, I should have used `first` instead of `filter` and a keyword argument `where` for the corresponding closure:

[code]

[2020-07-19 16:35] MaxDesiatov commented on #125
Hi @arq963, in the macOS project you've attached and CoreXLSX 0.13.0 the file opens well if you update the sandbox settings accordingly. I don't think the issues is caused by any version of CoreXLSX itself. Here, I've put the file in my `Downloads` folder, updated the hardcoded path and enabled the access in the target sandbox settings on the screenshot:

<img width="423" alt="Screenshot 2020-07-1

[2020-07-19 17:16] arq963 commented on #125
Yes It does. Thank you very much dear @MaxDesiatov . Much appreciated!

[2020-07-19 17:17] MaxDesiatov commented on #125
No problem, happy to help! Please feel free to reopen this if there's still an issue in CoreXLSX.

[2020-07-19 17:17] #125 closed

[2020-07-20 02:31] Ethan-Chew commented on #124
Thank you so much for your help!

[2020-07-20 02:31] #124 closed

[2020-08-08 15:18] Ethan-Chew opened #127 "Increase speed of parsing?"
Hi, I was wondering if there is a way that I can parse the XLSX file faster as I am doing a 'Flashcard' type system in my app, and do not want a time delay when the user swipes.

`    func getData() {
        // Collect Data
        var worksheetName = ""
        worksheetName = "\(primaryLevel) Data"

        do {
            let filepath = Bundle.main.path(forResource: "Main Data", ofType: "xlsx

[2020-08-09 09:45] MaxDesiatov commented on #127
Hi @Ethan-Chew, the main optimizations that could be applied are in [XMLCoder](https://github.com/MaxDesiatov/XMLCoder), which is the foundational library for CoreXLSX. The latter basically provides only a model layer on top of the former to make parsing work.

In the meantime, if you parse the file frequently, I'd recommend caching the parsed values either in memory, or even on disk. If you consi

[2020-08-10 03:38] Ethan-Chew commented on #127
Hi @MaxDesiatov, I have found another solution that works, which is to store everything in a dictonary then grab it from there when I need to use it. Thanks!

[2020-08-10 03:38] #127 closed

[2020-08-12 23:59] revcom commented on #101
Hi Max

Code has been working well but there seems to be a bug when adding additional rows with Excel. After a number of additions the library suddenly throws ArchiveEntryNotFound and refuses to allow access to the encoded spreadsheet data.
Excel has no problem opening and editing the same spreadsheet.

I've send you a minimal app and spreadsheet that exhibits the problem privately.

Thanks again

[2020-08-27 20:54] revcom commented on #101
Thanks Max, the latest version seems to fix my ArchiveEntryNotFound problem. Appreciate your help (again)

Robert

[2020-08-27 20:54] #101 closed

[2020-09-14 12:11] wasim954 opened #130 "Unable to read xlsx file"
Hey @MaxDesiatov, i am trying to read xlsx file but getting value '0' every time

i am attaching sample xlsx file
it has 4 worksheets
- xl/worksheets/sheet1.xml
- xl/worksheets/sheet12xml
- xl/worksheets/sheet3.xml
- xl/worksheets/sheet4xml

as i am trying to get data of "xl/worksheets/sheet1.xml" worksheets

let file = XLSXFile(filepath: filePath)
let worksheet = try file.parseWorksheet(at: "xl/w

[2020-09-14 12:14] MaxDesiatov commented on #130
The textual data is most frequently stored in shared strings, did you try using `parseSharedStrings` and `stringValue` APIs as described in [the corresponding `README.md`](https://github.com/CoreOffice/CoreXLSX#shared-strings) subsection?

[2020-09-14 16:19] wasim954 commented on #130
Thanks for quick reply

[2020-09-14 16:19] #130 closed

[2020-09-14 17:48] MaxDesiatov commented on #130
No problem, thanks for trying CoreXLSX 🙂 Feel free to open an issue if you have any other questions or problems.

[2020-09-15 06:04] wasim954 commented on #130
while trying to read on **background** thread i am loosing control access

DispatchQueue.global(qos: .background).async {
    print("This is run on the background queue")

    DispatchQueue.main.async {
        print("This is run on the main queue, after the previous code in outer block")
    }
}

[2020-09-15 07:48] MaxDesiatov commented on #130
Could you clarify please what exactly do you mean by "control access"? What issue are you experiencing, and what behavior do you expect?

Also, the code in your last comment doesn't seem to contain any CoreXLSX types or calls. Unfortunately, I won't be able to diagnose issues without context. You'll need to share more code that interacts with CoreXLSX, so that I could reproduce the issue on my sid

[2020-10-05 12:25] nigels0 opened #133 "0.13.0 not available on Cocoapods"
**Version**

0.13.0

0.13.0 not available on Cocoapods

[2020-10-05 12:32] MaxDesiatov commented on #133
Hi @nigels0, thanks for raising the issue. It is published on CocoaPods now. By the way, is there anything that prevents you from using CoreXLSX as a package through [the SwiftPM integration with Xcode](https://developer.apple.com/documentation/xcode/adding_package_dependencies_to_your_app)?

[2020-10-05 13:42] nigels0 commented on #133
No - but I've used Cocoapods on everything else. Anyhow - I'm getting a lot of errors even when using this version. Maybe I'll try SwiftPM.

[2020-10-05 13:43] MaxDesiatov commented on #133
I would be happy to help, what kind of errors are you getting?

[2020-10-05 15:12] MaxDesiatov commented on #133
Sorry, I'm not sure I'd be able to help without more context. I need to see what those duplicate symbols are before I can provide any advice. Would you be able to post a screenshot?

Additionally, would you be able to try [the example code](https://github.com/CoreOffice/CoreXLSX/tree/main/Example)? If that works for you, then there's a problem with how you integrate the library with your project,

[2020-10-05 15:15] nigels0 commented on #133
Well I haven't even integrated it - I just updated the cocoapods and got this error. I suspect it is within the pods.

It seems to be coming from nanopb - is that one of yours linked in?

[2020-10-05 15:16] MaxDesiatov commented on #133
No, nanopb is not related to CoreXLSX or any of its dependencies.

[2020-10-05 15:18] nigels0 commented on #133
OK, didn't have the issue until I brought in the cocoa pod. I'll have a look elsewhere.

[2020-10-08 16:12] MaxDesiatov commented on #133
@nigels0 could you clarify if this is still an issue for you?

[2020-10-08 19:14] nigels0 commented on #133
No, working OK. It was something else. Thx

[2020-10-08 19:14] #133 closed

[2020-11-28 20:44] CMiller3 opened #134 "Odd cell.s value"
**Version**

0.13.0

**Description of the bug**

When querying a cell's "s" value, cell.s, defined in the documentation as
[code]

Then querying the styles table as:
[code]
offers index out of range or nil in each respectively.

**Expected behavior**

I expected the cellsStyle table with index of cell.s to be the style sought.

[2020-11-28 20:48] MaxDesiatov commented on #134
Thanks for creating this @CMiller3, would you kindly fill in the fields as specified in the description of the issue? Unfortunately, I won't be able to investigate it without this information.

[2020-11-28 21:06] MaxDesiatov commented on #134
Thanks for updating the description, let me have a look...

[2020-11-28 21:07] CMiller3 commented on #134
I could also be completely wrong -- just thought that was how the library worked. Thank you!

[2020-11-28 22:09] #134 closed

[2020-11-28 22:11] CMiller3 commented on #134
Thank you for the attention -- it turns out the fields I was looking for were not in cellStyles but in cellFormats

`styles.cellFormats?.items[Int(cell.s ?? "") ?? 100]`

offered the clues of where to head next. I will say, intuitively I expected Formats to be more number format, not cell 'stylings' with colors and fonts.

[2020-11-28 22:17] MaxDesiatov commented on #134
I agree with you, this is not a great name, but this is how the Microsoft folks have chosen to name it, unfortunately.

BTW, I've opened #135 to simplify lookups in formats and fonts, which will be included in the next release.

[2020-12-03 00:50] nunogoncalves opened #136 "Cannot initialize SchemaType from invalid String value http://schemas.microsoft.com/office/2011/relationships/webextensiontaskpanes"
Hi!

**Version**

0.13.0

**Description of the bug**

I'm having issues opening one excel that I've got. This is my excel version.

<img width="340" alt="Screenshot 2020-12-03 at 00 31 04" src="https://user-images.githubusercontent.com/3007012/100948033-d6804480-34fe-11eb-9d01-8ee39b14ed0c.png">

**Steps to reproduce**

My code is very simple just taking the lib for a spin as documented in the REA

[2020-12-03 12:31] TSODev opened #137 "Unable to sort columns by intValue"
**Version**

version 0.13.0

**Description of the bug**

when sorting columns, sort is made with _value_ not _intValue_, then sorting columns is not accurate (column 'AB' is lower than 'B' and should be greater) (order is : A ; B ; C ; ... ; Y; Z; AA; AB ; ...)

**Steps to reproduce**

        row.cells.sorted(by: {$0.reference.column < $1.reference.column}).forEach({cell in
            let cellDa

[2020-12-03 14:23] TSODev commented on #137
my workaround :

[code]

[2020-12-08 11:22] MaxDesiatov commented on #136
Hi @nunogoncalves, thank you for reporting this issue. It should be an easy fix, and I'm going to create a PR with it later today. Would you mind if your file is used as a test case for it? If confirm you agree to it, it would be added to the repository and shared under the terms of the Apache 2.0 license. No pressure at all if you don't want that, I can create an isolated test case without it.

[2020-12-08 15:53] nunogoncalves commented on #136
Sure. Go ahead.

[2020-12-08 21:28] #136 closed

[2020-12-09 16:28] #137 closed

[2020-12-09 16:29] MaxDesiatov commented on #137
Great catch, thanks for reporting it @TSODev! This is now fixed in `main` and will be included in the next release of CoreXLSX.

[2021-01-06 09:27] julianko13 opened #141 "Cannot read xlsx with inline string."
[82A404 (4).xlsx](https://github.com/CoreOffice/CoreXLSX/files/5774826/82A404.4.xlsx)
I got the file from a web supporting xlsx format export. I have checked inside the file that there is no sharingString.xml there. When I tried inLineString.text, I got nil. The file has a structure like this:

<row r="1" customHeight="1" ht="25">
  <c r="A1" s="1" t="inlineStr"><is><r>
<t xml:space="preserve">總筆數

[2021-01-27 17:57] aymanbagabas opened #142 "Cannot initialize SchemaType from invalid String value http://customschemas.google.com/relationships/workbookmetadata"
**Version**

0.13.0

**Description of the bug**

Probably related to https://github.com/CoreOffice/CoreXLSX/issues/87. Looks like `workbookmetadata` is missing in `Relationships.swift`

[2021-01-27 18:56] #142 closed

[2021-01-27 18:57] MaxDesiatov commented on #142
Thanks, this is now fixed in the `main` branch.

[2021-01-27 19:03] aymanbagabas commented on #142
Thank you @MaxDesiatov!

[2021-02-19 17:29] rajeejones opened #145 "Cannot initialize SchemaType from invalid String value"
**Version**

`0.14.0`

**Description of the bug**

While trying to parse, there is an error being thrown with the message:

"Cannot initialize SchemaType from invalid String valuehttp://purl.oclc.org/ooxml/officeDocument/relationships/extendedProperties"

Looks to be reoccurring  of https://github.com/CoreOffice/CoreXLSX/issues/136

**Expected behavior**

File should be able to be parsed

**File f

[2021-02-19 17:31] MaxDesiatov commented on #145
Thanks for the report, this should be an easy fix. I'll get it it sorted out in the next couple of days.

[2021-02-19 17:38] rajeejones commented on #145
After double checking @MaxDesiatov it looks like the `Strict Open XML Spreadsheet (.xlsx)` file type is what's not working. If I resave it as `Excel Workbook (.xlsx)` it does parse my file

Is this former format supported?
<img width="382" alt="image" src="https://user-images.githubusercontent.com/1225522/108540307-a4cd7d00-72a6-11eb-8050-b4139d695071.png">

[2021-02-19 17:39] MaxDesiatov commented on #145
If I could get a sample file for it somehow, that would make testing much easier. Are you producing this file with Pages or Excel?

[2021-02-19 17:47] rajeejones commented on #145
@MaxDesiatov  Here you go:

[Sample Strict file.xlsx](https://github.com/CoreOffice/CoreXLSX/files/6011891/Sample.Strict.file.xlsx)

[2021-02-19 17:48] MaxDesiatov commented on #145
Awesome, many thanks!

[2021-02-19 17:51] rajeejones commented on #145
That wasn't the correct format, re-uploading:
[Sample Strict file.xlsx](https://github.com/CoreOffice/CoreXLSX/files/6011927/Sample.Strict.file.xlsx)

[2021-02-22 21:06] #145 closed

[2021-02-22 21:07] MaxDesiatov commented on #145
@rajeejones this should now be resolved in the `main` branch. All of the sample files above opened without a problem without any changes, so I don't think it's the strict format to blame. There's something in the original file that adds that missing relationship that I added in #146.

[2021-03-02 08:40] jagan510710 commented on #107
Hi

 for (index, cell) in row.cells.enumerated()  giving 6 cells in first row and 4 cells in second row as I have empty cells in second row. how can I get rows[1].cells.count = 6 (including empty rows).

[2021-03-02 10:29] YangEhz commented on #107
i have this problem too :( make me headache

[2021-03-02 11:57] jagan510710 commented on #107
You found any solution?

[2021-03-02 13:29] MaxDesiatov commented on #107
I would like to reiterate that an empty cell and absence of a cell are different things. If you're not getting a cell or a row during the iteration, this means that there is no such cell or row in your document. The document should have empty cells and rows written in it in the first place for you to be able to read them.

[2021-03-02 14:00] jagan510710 commented on #107
Because of absence of cell we have index problem. in first row I have email at index 3. in second row I have email at index 2.

[2021-03-02 14:30] MaxDesiatov commented on #107
You should not address cells via their indices in an array of cells. Every cell has [a `reference` property](https://github.com/CoreOffice/CoreXLSX/blob/ef0380fc2a6f1382073431244ce347708aefe09f/Sources/CoreXLSX/Worksheet/Cell.swift#L37), which you can read to understand where exactly a given cell is located. Corresponding properties on [the `CellReference` struct](https://github.com/CoreOffice/Cor

[2021-03-02 14:38] jagan510710 commented on #107
Thanks @MaxDesiatov it is working now...

[2021-03-03 02:00] YangEhz commented on #107
Sorry, I haven't figured it out yet, can I have a code reference?

[2021-03-03 08:46] YangEhz commented on #107
My method is like this
`func stringValue(_ sharedStrings: SharedStrings) -> String? {
        guard type == .sharedString, let index = value.flatMap(Int.init) else {

            if value == nil {
                return ""
            }
            return value

        }

        return sharedStrings.items[index].text
    }`
In CellQueries.swift -> public extension Cell, i added a line of code，Bu

[2021-05-06 00:36] billThePill opened #148 "Next Release?"
Just a quick question on when is the expected next release? We discovered a bug that was resolved a few months ago but it has not been included in any release (only in master branch). So, we wanted to find out when the next release might be available via SPM. Great stuff and ... Thanks!

[2021-05-06 13:09] #148 closed

[2021-05-06 13:52] MaxDesiatov commented on #148
Thanks for raising this! 0.14.1 is now available via CocoaPods and SwiftPM.

[2021-05-06 17:17] billThePill commented on #148
Thank you!

[2021-06-04 17:39] ShirazO opened #151 "Xcode 12.5 Compile Error"
After updating to Xcode 12.5 I am getting multiple compile errors, mainly due to CellType being defined multiple times, from what I can tell there are 2 similar files "Cell.swift" & "Cell 3.swift", would appreciate it if you could fix it. Thank you.

[2021-06-04 18:01] ShirazO commented on #151
I was able to resolve this by manually deleting the duplicated files. Not sure if this is a pod or git issue. Thanks.

[2021-06-04 18:01] #151 closed

[2021-06-06 09:58] ldbing opened #152 "cell type is null"
when i parse xlsx,i find  the celltype is null of a number and date,why.? i need to distinguish  date and number,
when i call cell.dateValue directly,i got 1913-09-08 00:00:00

[2021-06-10 22:19] ALLNDR opened #153 "Get a dropdown list"
Hello,

First of all, thank you for you work, it's amazing.

I have one question : is it possible to access to a dropdown list ? :

<img width="198" alt="Capture d’écran 2021-06-11 à 00 17 52" src="https://user-images.githubusercontent.com/50463276/121604250-78529200-ca4a-11eb-9e9e-477ad3163a5f.png">

Thank you again,

have a good day

[2021-07-16 08:34] florianreinhart opened #155 "Invalid default buffer size"
**Version**

main branch

**Description of the bug**

The comments for both `init` methods on `XLSXFile` state that the default buffer size is 10KB, but it is actually 10MB.

[code]

Let me know if the comment or code is wrong and I'll create a PR.

[2021-07-16 08:48] MaxDesiatov commented on #155
Thanks, the comment is clearly wrong. I think it initially was 10KB, which led to corrupted data. Then I had to bump it to 10MB, but apparently forgot to update the comment.

[2021-07-16 14:09] #155 closed

[2021-09-13 12:14] MaxDesiatov commented on #152
Hi @ldbing, would you be able to provide a sample file to help me reproduce the issue? Unfortunately, I won't be able to proceed without more details. Thanks.

[2022-04-15 15:16] manish12jain opened #159 "Unable to parse excel with following code"
I am using main branch which i have installed using following pod

` pod 'CoreXLSX'`

I am trying to read one excel but its giving me random integer number instead of string.

[Test12.xlsx](https://github.com/CoreOffice/CoreXLSX/files/8496673/Test12.xlsx)

[code]
<img width="413" alt="Screenshot 2022-04-15 at 8 46 01 PM" src="https://user-images.githubusercontent.com/3324059/163588338-873d9250-7b7

[2022-04-26 00:59] SeaAddiction opened #160 "XLSXFile fails to open .xlsx file located on iPad ("XLSX file at \(file_path) is corrupted or does not exist")"
**Version**
CoreXLSX 0.14.1

**Description of the bug**
XLSXFile fails to open .xlsx file located on iPad with the path "/private/var/mobile/Containers/Shared/AppGroup/F230537D-AA79-4A0A-AC47-08A1CA3C4BCA/File Provider Storage/workout.xlsx". Resulting in the error "XLSX file at \(file_path) is corrupted or does not exist" when executing this code:
guard let file = XLSXFile(filepath: file_path) els

[2022-04-26 09:08] MaxDesiatov commented on #160
Thank you for reporting this. Would you be able to confirm that files at this `File Provider Storage` can be opened with `FileManager` APIs before you're trying to initialize `XLSXFile`?

What does `FileManager.fileExists(atPath: "/private/var/mobile/Containers/Shared/AppGroup/F230537D-AA79-4A0A-AC47-08A1CA3C4BCA/File Provider Storage/workout.xlsx")` return for you?

[2022-04-26 12:33] SeaAddiction commented on #160
Max,
Thank you for the reply. I did as suggested and FileManager returns false,
even when I select the excel file with UIDocumentPicker. Do you have any
suggestions on what I need to do to resolve this? Thank you so much for
your help!

Jodie

On Tue, Apr 26, 2022 at 5:08 AM Max Desiatov ***@***.***>
wrote:

--
Jodie Bell
***@***.***
(321) 328-0770

[2022-04-26 12:35] MaxDesiatov commented on #160
Unfortunately, no, I don't have suggestions as I don't have much experience with the file picker API.

All I can say for now, it doesn't seem to be an issue with CoreXLSX, but rather an issue with the file picker API. Please let me know if your code shows otherwise.

[2022-04-26 12:42] SeaAddiction commented on #160
Max,
I don’t understand, shouldn’t it be the same across the board in terms of
iOS devices? I.e. if it works without any problem opening/accessing excel
files on your devices, shouldn’t I be able to follow the same procedure and
access them on my devices? I have attached a sample excel file.

Thank you,

Jodie

On Tue, Apr 26, 2022 at 8:36 AM Max Desiatov ***@***.***>
wrote:

--
Jodie Bell
***@***

[2022-04-26 14:20] SeaAddiction commented on #160
Max,
I figured it out. I had to provide access to the security scoped url that
UIDocumentPickerViewController returns after selecting the excel file. In
case others run into this same issue, this is how I resolved the issue by
providing access to the security scoped url. Thank you for your help!

*func* documentPicker(*_* controller: UIDocumentPickerViewController,
didPickDocumentsAt urls: [URL])

[2022-04-26 14:21] MaxDesiatov commented on #160
Perfect, thanks for sharing the solution!

[2022-04-26 14:21] #160 closed

[2022-07-22 08:03] tburnt commented on #159
Same here using
func documentPicker(_ controller: UIDocumentPickerViewController, didPickDocumentsAt urls: [URL])

if I converted urls.first!.path it does not read the xlsx document

I tried the both

XLSXFile(filepath: )
XLSX(data: )

But it still does not read the file

[2022-07-22 08:26] MaxDesiatov commented on #159
@tburnt please refer to this issue WRT document picker. Are you providing a security scoped access URL, as described in a solution for this issue? https://github.com/CoreOffice/CoreXLSX/issues/160

Also, your issue does not seem to be related to the OP. If your issue is not resolve with security scoped access URLs, please create a new issue. Thanks.

[2022-07-22 09:05] tburnt commented on #159
Hello thanks for the fast response I tried #160 as well however I had no luck in opening the excel file

[2022-07-22 09:07] MaxDesiatov commented on #159
Please create a separate issue and provide additional details there: the exact error message and error type you're seeing, the file you're trying to open, and a self-contained sample project to reproduce. Providing these details will allow me to quickly resolve the issue. Thanks!

[2022-07-22 09:14] tburnt opened #162 "XLSX File is not Read from documentPicker"
**Version** **0.14.1**

**Description of the bug**
using documentPicker I tried opening an xlsx file however it does not open and it crashes to excel file is corrupted, I tried the solution from #160 but it did not work, I also tried to copy the file first to the bundle but it still does the same, also I tried to use fileExists originally with the url and filepath variable but still the same resul

[2022-07-22 09:22] MaxDesiatov commented on #162
Could you also share more details about this behavior? What do you mean by "file is not read"? Is an error thrown in the code that you're catching? Does it trigger any of the `fatalError` or `print` conditions? Have you stepped through the code with the debugger to pinpoint the exact line at fault?

[2022-07-22 09:26] tburnt commented on #162
it triggers fatalError before I added startAccessingSecurityScopedResource
fatalError("excel file is corrupted")
when I added it as the solution from #160 it triggers the print statement
print("failed accessing security scope")

[2022-07-22 09:36] MaxDesiatov commented on #162
In your code from the issue, you're assigning a path URL passed by the document picker as `let filepath = url.path` and never using it again, then you're trying to read from a new directory looked up by `NSSearchPathForDirectoriesInDomains`. I'm not sure I understand how a document picker is relevant here if you're not reading anything from a path provided by it.

[2022-07-22 09:41] tburnt commented on #162
Originally this is what I did
`
                    let url = urls[0]
                    let filePath = url.path

                    guard url.startAccessingSecurityScopedResource() else {
                        print("failed accessing security scope")
                        return

                    }
                    defer { url.stopAccessingSecurityScopedResource() }

[2022-07-22 09:42] MaxDesiatov commented on #162
And in this original code, which exact line was bailing out, `url.startAccessingSecurityScopedResource()` or  `XLSXFile(filepath: filePath)`?

[2022-07-22 09:59] MaxDesiatov commented on #162
Have you tried following this SO page? https://stackoverflow.com/questions/41144992/startaccessingsecurityscopedresource-return-always-false

According to it, `startAccessingSecurityScopedResource` may return `false` when the file is not secured, but it may still be readable.

[2022-08-10 10:09] MaxDesiatov commented on #162
Hi @tburnt, is this issue still reproducible for you?

[2022-09-30 15:35] furueili opened #163 "Support macOS APP development?"

[2022-10-01 17:01] Joannis commented on #163
@furueili it should work already, the test suite does run in macOS. What issues are you seeing?

[2022-10-02 00:09] furueili commented on #163
uh sorry it is good

[2022-10-02 00:09] #163 closed

[2022-11-11 17:10] wonder2011 commented on #20
Awesome library. But with editing & saving this would be the best !